.chains {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.chain {
  display: flex;
  align-items: center;
  column-gap: 14px;
  margin-top: 14px;
  width: 250px;
  padding: 8px 24px;
  transition: 0.2s;
  border-radius: 40px;
  font-weight: 600;
  @apply tw-text-lg tw-text-blue-900 dark:tw-text-darkGray-100 tw-bg-darkGray-300 dark:tw-bg-darkGray-700;
}

.chain:hover {
  cursor: pointer;
  @apply tw-bg-darkGray-200 dark:tw-bg-darkGray-600;
}

.chain-logo {
  height: 30px;
  width: 30px;
}

.row-token {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.token-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  align-items: center;
  margin-top: 14px;
  width: 300px;
  height: 50px;
  padding: 8px 24px;
  transition: 0.2s;
  border-radius: 40px;
  font-weight: 600;

  @apply sm:tw-text-lg tw-text-blue-900 dark:tw-text-darkGray-100 tw-bg-darkGray-300 dark:tw-bg-darkGray-700;

  @media (min-width: 425px) {
    width: 350px;
  }
}

.balance {
  @apply tw-text-xs md:tw-text-sm;
}

.add-metamask {
  margin-top: 16px;
}

.token-button:hover {
  @apply tw-bg-darkGray-300 dark:tw-bg-darkGray-600;
}

.token-button:hover {
  cursor: pointer;
  @apply tw-bg-darkGray-200 dark:tw-bg-darkGray-500;
}

.token {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;
}

.selected {
  @apply tw-border-2  tw-border-blue-400 dark:tw-border-blue-500;
}

.no-history {
  padding: 16px;
  display: grid;
  justify-items: center;
  @apply tw-text-lg tw-text-blue-900 dark:tw-text-darkGray-100;
}

.history-icon {
  width: 24px;
  margin-bottom: 8px;
}

.histories {
  min-width: 290px;
  padding: 12px 0;
}

.list-footer {
  display: flex;
  justify-content: center;
  font-size: 16px;
  position: absolute;
  left: 50%;
  right: 50%;
  white-space: nowrap;
  @apply tw-text-blue-900 dark:tw-text-darkGray-100;
}

.updating-container {
  width: 290px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    width: 652px;
  }
}

.history-card {
  padding: 32px 16px;
  padding-right: 0;
  transition: 0.2s;
  border-radius: 40px;
  font-weight: 600;
  display: grid;
  align-items: center;
  grid-template-columns: 74px 20px 74px 68px;
  column-gap: 8px;
  @apply tw-text-xs tw-text-blue-900 dark:tw-text-darkGray-100 tw-bg-darkGray-300 dark:tw-bg-darkGray-700;

  @media (min-width: 768px) {
    font-size: 16px;
    padding: 16px 6px;
    padding-right: 32px;
    grid-template-columns: 210px 20px 220px 140px;
  }
}

.history-card:hover {
  @apply tw-bg-darkGray-200 dark:tw-bg-darkGray-600;
}

.amount {
  @media (min-width: 768px) {
    white-space: nowrap;
  }
}

.history-chain-logo {
  margin-bottom: 8px;
  height: 24px;
  width: 24px;
  @media (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 12px;
    height: 38px;
    width: 38px;
  }
}

.history-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 32px;
  }
}

.tx-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @media (min-width: 768px) {
    row-gap: 2px;
  }
}

.row-token {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 4px;
  @media (min-width: 768px) {
    margin-bottom: 4px;
  }
}

.token-mini {
  display: none;
  @media (min-width: 768px) {
    display: block;
    width: 16px;
    height: 16px;
  }
}

.arrow {
  font-weight: 900;
  @apply tw-text-xl;
}

.explorer-link {
  text-decoration: underline;
}

.tooltip {
  @apply tw-pointer-events-none
  tw-hidden
  tw-absolute
  tw--top-2
  tw-left-1/2
  tw-z-10
  tw-transform
  tw--translate-y-full
  tw--translate-x-1/2
  tw-p-2
  tw-text-xs
  tw-leading-tight
  tw-text-white
  tw-bg-gray-800
  dark:tw-bg-darkGray-500
  tw-rounded-md tw-shadow-lg tw-whitespace-nowrap;
}
