@import 'src/css/quasar.variables.scss';

.swiper {
  overflow: visible;
}
.swiper-slide {
  border-radius: 6px;
  overflow: hidden;
  height: auto;
}
.card {
  background: rgba(255, 255, 255, 0.1);
  height: 100%;
  transition: all 0.2s ease;
  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 0.15);
  }
}
.card__img {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 100%;
}
.card__bottom {
  padding: 16px 24px;
}
.text--accent {
  font-size: 12px;
  font-weight: 700;
  &.featured {
    color: $astar-blue-dark;
  }
  &.new-listing {
    color: $astar-pink;
  }
}
.text--title {
  margin: 4px 0 16px 0;
}
.text--description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: $gray-1;
}
