@import 'src/css/quasar.variables.scss';

.wrapper--cards {
  display: flex;
  gap: 24px;
  width: 100%;
  max-width: 1295px;
  margin-top: 34px;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
  @media (min-width: $md) {
    flex-wrap: nowrap;
  }
  @media (min-width: $xxl) {
    gap: 24px;
  }
}

.wrapper--icon-help {
  margin-top: -1px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 24%;
  min-width: 200px;
  background: $gray-1;
  border-radius: 6px;
  min-width: 150px;
  padding: 24px 16px;
  flex-basis: 100%;
  width: 100%;
  @media (min-width: $lg) {
    padding: 32px 24px;
    min-width: auto;
  }

  @media (min-width: $xl) {
    min-width: 160px;
  }

  .row--title {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 14px;
    color: $gray-4;
    height: 30px;
    @media (min-width: $lg) {
      margin-bottom: 16px;
    }
  }
  .row--data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-top: 15px;
    @media (min-width: $lg) {
      margin-top: 0px;
    }

    .loading {
      width: 80px;
    }
  }
  .value {
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: $navy-1;
  }
  .value--claim {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
  }
}

.explorer-icon {
  stroke: $astar-blue;
  svg {
    height: 30px;
    width: 30px;
  }
  &:hover {
    stroke: white;
  }
}

.text--eras {
  font-size: 14px;
}

.text--rewards-amount {
  font-size: 18px;
}

.row--eras {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.body--dark {
  .card {
    background: $body-bg-dark;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);

    p {
      color: $gray-3;
    }

    .row--title {
      color: $gray-3;
    }

    .value {
      color: $gray-1;
    }
  }

  .claim-warning {
    color: $gray-1;
  }
}

.pill-box {
  font-size: 14px;
  padding: 2px 8px;
  font-weight: 700;
  margin-right: 5px;
  background: #D81F83;
  border-radius: 12px;
  color: white;
}

.claim-warning {
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-top: 20px;
  border: 1px solid $warning-red;
  background-color: rgba(255, 86, 33, 0.3);
  color: $warning-red;
  padding: 8px 16px;
}

.row--ledgers {
  display: flex;
  flex-direction: column;
}

.body--dark {
  .claim-warning {
    color: $gray-1;
  }
}
