@import 'src/css/quasar.variables.scss';

.wrapper--mystaking {
  padding: 0 16px;

  @media (min-width: $md) {
    padding: 0;
  }
}

.txt--header {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: $navy-1;
  margin-left: 6px;
  margin-bottom: 24px;
}

.staking-container {
  grid-template-columns: repeat(auto-fit, minmax(288px, max-content));
  background: #FFFFFF80;
  border-radius: 6px;
  padding: 18px 16px;
  box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.08);
  @media (min-width: $xxl) {
    padding: 18px 24px;
  }
}

.wrapper--tabs {
  justify-content: space-between;
  display: block;
  @media (min-width: $md) {
    display: flex;
  }
}

.responsive {
  width: 100%;
  overflow-x: auto;
}

.text--transferable {
  font-weight: 600;
  font-size: 14px;
  color: $gray-4;
  text-align: right;
  margin-top: 32px;
  @media (min-width: $lg) {
    margin-top: 16px;
  }
}
.body--dark {
  .text--transferable {
    color: $gray-1;
  }
}

.loading {
  display: inline-block;
  width: 100px;
}

.tabs {
  border-collapse: separate;
  display: flex;
  justify-content: space-between;
  @media (min-width: 400px) {
    display: inline-flex;
    gap: 12px;
    flex-wrap: wrap;
  }

  &.tabs-center {
    margin: auto;
  }
  &.tabs-justify {
    width: 100%;
    table-layout: fixed;
  }

  .text--tab {
    color: $navy-1;
    font-size: 14px;
    font-weight: 400;
    @media (min-width: 400px) {
      font-size: 16px;
    }
  }

  .tab {
    position: relative;
    display: table-cell;
    transition: all ease 0.3s;
    padding: 14px 10px;
    transform: translate3d(0, 0, 0);
    font-style: normal;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      text-shadow: 0.6px 0 0 currentColor;
    }
    &:after {
      transition: all 0.3s cubic-bezier(1, 0, 0, 1);
      will-change: transform, box-shadow, opacity;
      position: absolute;
      content: '';
      height: 3px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      border-radius: 3px 3px 0px 0px;
      background: $astar-blue;
      opacity: 0;
      transform: scale(0, 1);
    }
    &.active {
      font-weight: 600;
      &:after {
        opacity: 1;
        transform: scale(1, 1);
      }
    }
  }
}

.body--dark {
  .txt--header {
    color: $gray-1;
  }
  
  .staking-container {
    background: rgba(255, 255, 255, 0.1);
  }

  .text--tab {
    color: $gray-1;
  }
}
