@import 'src/css/quasar.variables.scss';

.wrapper--onchain-data {
  padding: 0 16px;

  @media (min-width: $md) {
    padding: 0;
  }
}

.box--data {
  background-color: #ffffff80;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 16px;
  gap: 16px;
  box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.08);
}
.body--dark {
  .box--data {
    background: rgba(255, 255, 255, 0.1);
  }
}

.row--title {
  margin-bottom: 24px;
}

.text--name {
  font-size: 16px;
  font-weight: 600;
  color: $navy-1;
}

.text--value {
  font-size: 14px;
  font-weight: 600;
  color: $navy-1;
}

.body--dark {
  .text--name,
  .text--value {
    color: $gray-1;
  }
}

.text--title {
  margin-left: 6px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: $navy-1;
}

.row--data-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
  @media (min-width: $md) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
  }
}

.column--sort {
  display: flex;
  align-items: center;
  column-gap: 8px;
  align-self: flex-end;
}

.dropbox--sort {
  display: flex;
  justify-content: space-between !important;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 200px;
  height: 40px;
  background: #ffffff50;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  color: $navy-1;
}
.body--dark {
  .dropbox--sort {
    background: rgba(255, 255, 255, 0.1);
    color: $gray-1;
  }
}

.dropbox--filter {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  gap: 8px;
  height: 40px;
  background: #ffffff50;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 600;
  color: $navy-1;
  @media (min-width: $md) {
    margin-bottom: 0px;
    width: 200px;
  }
}
.body--dark {
  .dropbox--filter {
    background: rgba(255, 255, 255, 0.1);
    color: $gray-1;
  }
}

.img--logo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.table--dapps {
  width: 100%;
  height: 388px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: space-between;
  @media (min-width: $sm) {
    height: 348px;
  }
  @media (min-width: $md) {
    flex-wrap: wrap;
    height: 280px;
  }
}

.dapp {
  @media (min-width: $md) {
    width: 48%;
  }
  @media (min-width: $xl) {
    width: 50%;
  }
}

.row--dapp {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  padding: 0 8px;
}

.column--dapps-right {
  @media (min-width: $md) {
    padding-left: 16px;
  }
  @media (min-width: $xl) {
    padding-left: 48px;
  }
}

.column--dapps-left {
  @media (min-width: $md) {
    padding-right: 16px;
  }
  @media (min-width: $xl) {
    padding-right: 48px;
  }
}

.column--dapp-name {
  display: flex;
  align-items: center;
  column-gap: 12px;
  max-width: 255px;
  height: 48px;
  border-radius: 6px;
  padding: 0px 12px;
  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  @media (min-width: $md) {
    column-gap: 16px;
  }
}

.column--name {
  padding-right: 4px;
  @media (min-width: $md) {
    padding-right: 0px;
  }
}

.column--balance {
  width: 100%;
  text-align: right;
}

.row--page {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

.colum--current-page {
  width: 54px;
  display: flex;
  justify-content: center;
}

.icon--arrow {
  margin-top: -1px;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in;
  border-radius: 50%;
  color: $navy-1;
  &:hover {
    transition: all 0.2s ease-in;
    background: rgba(255, 255, 255, 0.2);
  }
}
.body--dark {
  .icon--arrow {
    color: $gray-1;
  }
}

.icon--expand {
  margin-top: 6px;
}

.divider {
  border-top: 1px solid white;
  margin-top: 8px;
  margin-bottom: 8px;
}

.body--dark {
  .text--title {
    color: $gray-1;
  }
  .divider {
    border-color: rgba(255, 255, 255, 0.2);
  }
}
