@import 'src/css/quasar.variables.scss';

.panel {
  margin-bottom: 25px;
  padding-top: 55px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1290px;

  @media (min-width: $md) {
    border-radius: 0px 0px 6px 6px;
  }

  @media (min-width: $xxl) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.wrapper--title {
  margin-left: 16px;
  margin-bottom: 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  color: $gray-1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .txt--title {
    font-size: 40px;
    line-height: 53px;
    letter-spacing: 0.1em;
  }

  .txt--subtitle {
    font-size: 24px;
    line-height: 27px;
  }
}

.wrapper--cards {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1295px;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  column-gap: 16px;
  column-count: 4;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: $md) {
    justify-content: space-between;
  }
  @media (min-width: $xxl) {
    column-gap: 24px;
    overflow-x: hidden;
  }
}

.wrapper--icon-help {
  cursor: pointer;
  padding-top: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: none;
  height: 150px;
  padding: 36px 16px;
  background: linear-gradient(180deg, rgba(25, 29, 31, 0) 4.17%, rgba(255, 255, 255, 0.3) 79.69%);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 6px;

  @media (min-width: $lg) {
    flex-basis: 23.5%;
    padding: 36px 24px;
    height: 126px;
  }

  p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 14px;
    color: $gray-1;
  }

  .row--data {
    margin-top: 18px;

    .value {
      display: block;
      font-weight: 600;
      font-size: 20px;
      line-height: 18px;
      color: $gray-1;

      .detail-value {
        font-size: 12px;
        font-weight: 500;
        margin-left: 5px;
      }

      @media (min-width: $lg) {
        display: flex;
      }
    }

    .column--tvl {
      display: block;
      font-weight: 600;
      font-size: 19px;
      color: $gray-1;

      .txt--tvl {
        white-space: nowrap;
        margin-right: 5px;
      }

      .detail-value {
        font-size: 12px;
        font-weight: 500;
        margin-left: 5px;
      }

      line-height: 24px;
      min-width: 160px;
      @media (min-width: $sm) {
        display: flex;
        line-height: 18px;
      }
    }

    .loading {
      width: 150px;
    }

    min-width: 160px;

    @media (min-width: $lg) {
      min-width: 0px;
    }
  }

  .column--era-info {
    display: block;
    column-gap: 4px;
    line-height: 18px;

    @media (min-width: $sm) {
      display: flex;
      line-height: 0px;
      margin-top: 10px;
    }
  }

  .text--eta-next-era {
    font-size: 11px;
    padding-top: 2px;
    @media (min-width: $md) {
      display: none;
    }
    @media (min-width: $xl) {
      display: block;
      white-space: nowrap;
    }
  }

  .column--apr-apy {
    display: flex;
    margin-bottom: 12px;
    column-gap: 22px;
    font-size: 14px;
    @media (min-width: $lg) {
      display: flex;
      column-gap: 8px;
      margin-right: 16px;
      font-size: 20px;
    }
    @media (min-width: $xl) {
      column-gap: 12px;
      margin-right: 24px;
    }
  }

  .button--not-active {
    opacity: 0.5;
    padding-bottom: 6px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease 0s;
  }

  .button--active {
    padding-bottom: 6px;
    border-bottom: 2px solid white;
    transition: all 0.3s ease 0s;
  }

  .row--era-info {
    @media (min-width: $lg) {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .box-pie-chart {
    display: none;
    @media (min-width: $lg) {
      display: block;
      margin-top: -32px;
      margin-left: 8px;
    }
  }

  .column--era-info {
    display: flex;
    column-gap: 4px;
  }

  .text--eta-next-era {
    font-size: 11px;
    padding-top: 2px;
    @media (min-width: $md) {
      display: none;
    }
    @media (min-width: $xl) {
      display: block;
      white-space: nowrap;
    }
  }

  .column--apr-apy {
    display: none;
    @media (min-width: $lg) {
      display: flex;
      column-gap: 8px;
      margin-right: 16px;
    }
    @media (min-width: $xl) {
      column-gap: 12px;
      margin-right: 24px;
    }
  }

  .button--not-active {
    opacity: 0.5;
    padding-bottom: 6px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease 0s;
  }

  .button--active {
    padding-bottom: 6px;
    border-bottom: 2px solid white;
    transition: all 0.3s ease 0s;
  }

  .row--era-info {
    @media (min-width: $lg) {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .box-pie-chart {
    display: none;
    @media (min-width: $lg) {
      display: block;
      margin-top: -32px;
      margin-left: 8px;
    }
  }
}
