@import 'src/css/quasar.variables.scss';

.panel {
  background-size: cover;
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: $md) {
    padding-right: 0;
    padding-left: 0;
  }
}

.wrapper--title {
  margin-bottom: 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  color: $navy-1;

  .txt--title {
    font-size: 40px;
    line-height: 53px;
    letter-spacing: 0.1em;
  }

  .txt--subtitle {
    font-size: 24px;
    line-height: 27px;
  }
}
.body--dark {
  .wrapper--title {
    color: $gray-1;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.wrapper--cards {
  overflow-x: auto;
  padding: 16px;
  margin: -16px;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 16px,
    black calc(100% - 16px),
    transparent
  );
  &::-webkit-scrollbar {
    display: none;
  }
  @media (min-width: $md) {
    padding: 48px;
    margin: -48px;
    mask-image: linear-gradient(
      to right,
      transparent,
      black 48px,
      black calc(100% - 48px),
      transparent
    );
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 16px;
  min-width: 1000px;
  @media (min-width: $xxl) {
    column-gap: 24px;
  }
}

.wrapper--icon-help {
  cursor: pointer;
  padding-top: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: none;
  height: 150px;
  padding: 36px 16px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 16px 2px #00000014;
  @media (min-width: $lg) {
    padding: 36px 24px;
    height: 126px;
  }

  p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 14px;
    color: $navy-1;
  }

  .row--data {
    margin-top: 18px;

    .value {
      display: block;
      font-weight: 600;
      font-size: 20px;
      line-height: 18px;
      color: $navy-1;

      .detail-value {
        font-size: 12px;
        font-weight: 500;
        margin-left: 5px;
      }

      @media (min-width: $lg) {
        display: flex;
      }
    }

    .column--tvl {
      display: block;
      font-weight: 600;
      font-size: 19px;
      color: $navy-1;

      .txt--tvl {
        white-space: nowrap;
        margin-right: 5px;
      }

      .detail-value {
        font-size: 12px;
        font-weight: 500;
        margin-left: 5px;
      }

      line-height: 24px;
      min-width: 160px;
      @media (min-width: $sm) {
        display: flex;
        line-height: 18px;
      }
    }

    .loading {
      width: 150px;
    }

    min-width: 160px;

    @media (min-width: $lg) {
      min-width: 0px;
    }
  }

  .column--era-info {
    display: block;
    column-gap: 4px;
    line-height: 18px;

    @media (min-width: $sm) {
      display: flex;
      line-height: 0px;
      margin-top: 10px;
    }
  }

  .text--eta-next-era {
    font-size: 11px;
    padding-top: 2px;
    @media (min-width: $md) {
      display: none;
    }
    @media (min-width: $xl) {
      display: block;
      white-space: nowrap;
    }
  }

  .column--apr-apy {
    display: flex;
    margin-bottom: 12px;
    column-gap: 22px;
    font-size: 14px;
    @media (min-width: $lg) {
      display: flex;
      column-gap: 8px;
      margin-right: 16px;
      font-size: 20px;
    }
    @media (min-width: $xl) {
      column-gap: 12px;
      margin-right: 24px;
    }
  }

  .button--not-active {
    opacity: 0.5;
    padding-bottom: 6px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease 0s;
  }

  .button--active {
    padding-bottom: 6px;
    border-bottom: 2px solid $navy-1;
    transition: all 0.3s ease 0s;
  }

  .row--era-info {
    @media (min-width: $lg) {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .box-pie-chart {
    display: none;
    @media (min-width: $lg) {
      display: block;
      margin-top: -32px;
      margin-left: 8px;
    }
  }

  .column--era-info {
    display: flex;
    column-gap: 4px;
  }

  .text--eta-next-era {
    font-size: 11px;
    padding-top: 2px;
    @media (min-width: $md) {
      display: none;
    }
    @media (min-width: $xl) {
      display: block;
      white-space: nowrap;
    }
  }

  .column--apr-apy {
    display: none;
    @media (min-width: $lg) {
      display: flex;
      column-gap: 8px;
      margin-right: 16px;
    }
    @media (min-width: $xl) {
      column-gap: 12px;
      margin-right: 24px;
    }
  }

  .button--not-active {
    opacity: 0.5;
    padding-bottom: 6px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease 0s;
  }

  .button--active {
    padding-bottom: 6px;
    border-bottom: 2px solid $navy-1;
    transition: all 0.3s ease 0s;
  }

  .row--era-info {
    @media (min-width: $lg) {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .box-pie-chart {
    display: none;
    @media (min-width: $lg) {
      display: block;
      margin-top: -32px;
      margin-left: 8px;
    }
  }
}

.body--dark {
  .card {
    background: rgba(255, 255, 255, 0.1);
    .button--active {
      border-color: $gray-1;
    }
  }
  .card p,
  .row--data .value,
  .row--data .column--tvl {
    color: $gray-1;
  }
}
