@import 'src/css/quasar.variables.scss';

.row--builders-title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 800;
}

.image--builder-icon {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.row--details {
  display: flex;
  column-gap: 16px;
  border-bottom: 1px solid $navy-1;
  padding-bottom: 10px;
  margin-bottom: 18px;
}

.text--name {
  font-weight: 600;
  font-size: 14px;
  color: $navy-1;
}

.text--position {
  font-weight: 500;
  font-size: 14px;
  color: $gray-4;
}

.icon {
  width: 20px;
  height: 18px;
  color: $astar-blue;
}

.row--icons {
  display: flex;
  column-gap: 8px;
  align-items: center;
  margin-top: -10px;
}

.box--share {
  display: flex;
  align-items: center;
  color: $astar-blue;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.btn--primary {
  transition: all 0.3s ease 0s;
  border-radius: 16px;
  .icon--social {
    padding: 6px;
    padding-left: 7px;
    svg {
      height: 20px;
      width: 20px;
    }
  }
  &:hover {
    .btn--effect {
      color: white;
      stroke: white;
      svg {
        stroke: white;
      }
    }
    background-color: $astar-blue;
  }
}

.box--builders {
  gap: 8px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  @media (min-width: $sm) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  @media (min-width: $lg) {
    display: flex;
    flex-wrap: wrap;
  }
}

.card--builders {
  padding: 24px;
  border-radius: 16px;
  border: solid 1px $navy-1;
  background-color: white;
  @media (min-width: $lg) {
    width: 182px;
    padding: 32px;
  }
}
