@import 'src/css/quasar.variables.scss';

.wrapper--dapp-statistics {
  margin: 80px 0;
}

.row--data {
  column-gap: 4px;
  row-gap: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media (min-width: $sm) {
    flex-wrap: nowrap;
  }
}

.button--vote-stake {
  background-color: $astar-pink;
  border-radius: 16px;
  padding: 16px;
  transition: all 0.2s ease;
  display: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  @media (min-width: $sm) {
    display: block;
    height: 110px;
    min-width: 134px;
  }
  &:hover {
    background-color: lighten($astar-pink, 10%);
  }
}
