@import 'src/css/quasar.variables.scss';

.container--dapp-staking {
  max-width: $container-max-width;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.row--project-overview {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @media (min-width: $sm) {
    flex-direction: row;
  }
}

.bg--dapp {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  z-index: 0;
}

.text--title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 24px;
}

.body--dark {
  .container--dapp-staking,
  .text--title {
    color: $navy-1;
  }
}
