@import 'src/css/quasar.variables.scss';

.wrapper--dapp-statistics {
  // padding-top: 24px;
  // padding-bottom: 24px;
  // margin-bottom: 36px;
  // border-bottom: 1px solid $gray-2;
  margin: 80px 0;
}

.row--data {
  column-gap: 4px;
  row-gap: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media (min-width: $sm) {
    flex-wrap: nowrap;
  }
}

.button--vote-stake {
  background-color: $astar-pink;
  border-radius: 16px;
  padding: 16px;
  transition: all 0.2s ease;
  display: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  @media (min-width: $sm) {
    display: block;
    height: 110px;
    min-width: 134px;
  }
  &:hover {
    background-color: lighten($astar-pink, 10%);
  }
}

// .body--dark {
//   .separator--statistics {
//     border-bottom: 1px solid $navy-3;
//     @media (min-width: $md) {
//       border-right: 1px solid $navy-3;
//     }
//   }

//   .column--statistics {
//     background: $container-bg-dark;
//     @media (min-width: $md) {
//       background: transparent;
//     }
//   }
//   .text--statistics-title {
//     color: $gray-3;
//   }
//   .text--statistics-value {
//     color: $gray-1;
//   }
//   .wrapper--dapp-statistics {
//     border-bottom: 1px solid $navy-3;
//   }
// }
