@import 'src/css/quasar.variables.scss';

.skeleton--chart {
  height: 368px;
  @media (min-width: $md) {
    height: 298px;
  }
}

.container--block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $md) {
    flex-direction: row;
    gap: 32px;
    height: 298px;
  }
}

.column--label {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  
  @media (min-width: $md) {
    align-items: flex-start;
  }
}

.column--block-time {
  display: flex;
  column-gap: 8px;
}

.box--block-information {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.box--era-information {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.box--avg-time {
  display: flex;
  flex-direction: column;
}

.row--avg-era {
  display: grid;
  grid-template-columns: 56px auto;
}

.icon--help {
  position: absolute;
  font-size: 18px;
  height: 18px;
  width: 18px;
  cursor: default;
}

.text--next-era {
  color: $astar-blue;
}

.text--status {
  font-size: 26px;
  font-weight: 500;
}

.value-panel {
  flex: 1;
  border-radius: 6px;
  padding: 24px;
  box-shadow: $container-border-shadow-light;
}

.left-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;

  @media (min-width: $md) {
    gap: 32px;
  }
}

.era-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
}

.eta {
  text-align: right;
  margin-top: 32px;
}

.body--dark {
  .q-linear-progress {
    color: $astar-blue-dark;
  }

  .value-panel {
    background: $navy-2;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
  }
}
