@import 'src/css/quasar.variables.scss';

.row {
  padding: 16px 8px 0px 8px;
}

.align-rigth {
  padding: 16px 8px 0px 8px;
  text-align: end;
}

.chart {
  padding-bottom: 8px 24px 24px;
}

.wrapper--charts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper--chart {
  width: 100%;
  padding: 8px;
}

.wrapper--value {
  width: 100%;
  padding: 8px;

  @media (min-width: $lg) {
    width: 50%;
  }
}

.wrapper--filter {
  display: flex;
  justify-content: right;
  margin: 8px 16px 24px 16px; 
}

.filter--tabs {
  display: flex;
  border: 1px solid $gray-1;
  border-radius: 6px;

  div {
    padding: 6px 18px;
    cursor: pointer;
  }

  div:not(:last-child) {
    border-right: 1px solid $gray-1;
  }

  .selected {
    background-color: $gray-1;
  }
}

.body--dark {
  .filter--tabs {
    background-color: $gray-5;
    border: 1px solid $gray-5-selected;

    div:not(:last-child) {
      border-right: 1px solid $gray-5-selected;
    }

    .selected {
      background-color: $gray-5-selected;
    }
  }
}

.container--value {
  padding: 8px 24px 32px;
}

.container--title--color {
  color: #B1B7C1;
}

.chart--value {
  padding: 8px 8px 24px;
}