@import 'src/css/quasar.variables.scss';

.row {
  padding: 16px 8px 0px 8px;
}

.align-right {
  padding: 16px 8px 0px 8px;
  text-align: end;
}

.chart {
  padding-bottom: 8px 24px 24px;
}

.wrapper--charts {
  position: relative;
  @media (min-width: $lg) {
    margin-bottom: 24px;
  }
  @media (min-width: $xxl) {
    display: flex;
    justify-content: center;
  }
}

.container--value-panels {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 24px;
  column-gap: 24px;
  @media (min-width: $lg) {
    flex-direction: row;
  }
}

.container--charts {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  @media (min-width: $xxl) {
    width: $container-max-width;
  }
}

.wrapper--chart {
  width: 100%;
}

.wrapper--value {
  width: 100%;

  @media (min-width: $lg) {
    width: 50%;
  }
}

.wrapper--filter {
  display: flex;
  justify-content: right;
  margin: 8px 0px 24px 0px;

  @media (min-width: $sm) {
    margin: 8px 16px 24px 0px;
  }
}

.filter--tabs {
  display: flex;
  border: 1px solid $gray-1;
  border-radius: 6px;
  width: 100%;

  @media (min-width: $sm) {
    width: auto;
  }

  div {
    padding: 4px 14px;
    cursor: pointer;
    width: 25%;
    text-align: center;

    @media (min-width: $sm) {
      padding: 2px 18px;
      width: auto;
    }
  }

  div:not(:last-child) {
    border-right: 1px solid $gray-1;
  }

  .selected {
    background-color: $gray-1;
  }
}

.skeleton--chart {
  height: 367px;
}

.body--dark {
  .filter--tabs {
    background-color: $gray-5-selected-dark;
    border: 1px solid $gray-5;

    div:not(:last-child) {
      border-right: 1px solid $gray-5;
    }

    .selected {
      background-color: $gray-5;
    }
  }

  .container {
    background-color: $gray-5-selected-dark;
  }
}

.container--value {
  padding: 8px 16px 32px;
  height: 120px;

  @media (min-width: $sm) {
    padding: 8px 24px 32px;
  }
}

.container--title--color {
  color: #b1b7c1;
}

.chart--value {
  padding: 8px 8px 24px;
}
