@import 'src/css/quasar.variables.scss';

.row {
  padding: 16px 8px 0px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart {
  margin-top: 16px;
}

.wrapper--charts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper--chart {
  width: 100%;
  padding: 8px;

  @media (min-width: $md) {
    width: 50%;
  }
}