@import 'src/css/quasar.variables.scss';

.row {
  padding: 16px 8px 0px 8px;
}

.align-right {
  padding: 16px 8px 0px 8px;
  text-align: end;
}

.chart {
  padding-bottom: 8px 24px 24px;
}

.wrapper--charts {
  position: relative;
  @media (min-width: $lg) {
    margin-bottom: 24px;
  }
  @media (min-width: $xxl) {
    display: flex;
    justify-content: center;
  }
}

.container--value-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 24px;
  column-gap: 32px;
  @media (min-width: $lg) {
    flex-direction: row;
  }
  @media (min-width: $xxl) {
    row-gap: 32px;
  }
}

.container--charts {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 24px;
  column-gap: 32px;
  @media (min-width: $xxl) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1152px;
    row-gap: 32px;
    margin-bottom: 16px;
  }
}

.container--chart-panels {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  @media (min-width: $xxl) {
    width: 1152px;
    row-gap: 32px;
  }
}

.container--chart {
  box-shadow: $container-border-shadow-light;
  background: $container-bg-white;
  border-radius: 6px;
  padding: 8px 16px;
  @media (min-width: $md) {
    padding: 8px 24px;
  }
  @media (min-width: $xxl) {
    width: 560px;
  }
}

.wrapper--chart {
  width: 100%;
}

.wrapper--value {
  width: 100%;

  @media (min-width: $lg) {
    width: 50%;
  }
}

.wrapper--filter {
  display: flex;
  justify-content: right;
  margin: 8px 0px 24px 0px;

  @media (min-width: $sm) {
    margin: 8px 16px 24px 0px;
  }
}

.filter--tabs {
  display: flex;
  border: 1px solid $gray-1;
  border-radius: 6px;
  width: 100%;

  @media (min-width: $sm) {
    width: auto;
  }

  @media (min-width: $xxl) {
    width: 100%;
  }
}
.btn--filter {
  padding: 4px 14px;
  cursor: pointer;
  width: 25%;
  text-align: center;
  transition: all 0.2s ease-in-out;

  @media (min-width: $sm) {
    padding: 2px 18px;
    width: auto;
  }
  @media (min-width: $xxl) {
    width: 100%;
  }
}

.btn--filter:not(:last-child) {
  border-right: 1px solid $gray-1;
}

.selected {
  background-color: $gray-1;
}

.skeleton--chart {
  height: 367px;
  @media (min-width: $xxl) {
    height: 417px;
    width: 560px;
  }
}

.container--value {
  padding: 8px 16px 32px;
  height: 120px;

  @media (min-width: $sm) {
    padding: 8px 24px 32px;
  }
  @media (min-width: $xxl) {
    width: 560px;
  }
}

.container--title--color {
  color: #b1b7c1;
}

.chart--value {
  padding: 8px 8px 24px;
}

.body--dark {
  .filter--tabs {
    background-color: $gray-5-selected-dark;
    border: 1px solid $gray-5;

    div:not(:last-child) {
      border-right: 1px solid $gray-5;
    }

    .selected {
      background-color: $gray-5;
    }
  }

  .container--chart {
    box-shadow: $container-border-shadow-dark;
    background-color: $gray-5-selected-dark;
  }
}
