@import 'src/css/quasar.variables.scss';

.wrapper--value {
  width: 100%;
  height: 138px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 24px;
  box-shadow: $container-border-shadow-light;
  background: $container-bg-white;

  border-radius: 6px;
  padding: 8px 16px;
  @media (min-width: $md) {
    padding: 8px 24px;
  }
  @media (min-width: $xxl) {
    width: 560px !important;
  }
}

.skeleton--value-panel {
  height: 138px;
  @media (min-width: $xxl) {
    width: 560px;
  }
}

.align-right {
  padding: 16px 8px 0px 8px;
  text-align: end;
}

.container--title--color {
  color: #b1b7c1;
}

.container--value {
  padding: 16px 8px 32px;
}

.text--value {
  font-size: 26px;
  font-weight: 500;
}

.row--value {
  display: flex;
  justify-content: flex-end;
}

.body--dark {
  .wrapper--value {
    background: $container-bg-dark;
    box-shadow: $container-border-shadow-dark;
  }
}
