@import 'src/css/quasar.variables.scss';

.row--2-column {
  padding: 16px 8px 0px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-right {
  padding: 16px 8px 0px 8px;
  text-align: end;
}

.wrapper--charts {
  position: relative;
  padding-top: 20px;
  @media (min-width: $lg) {
    padding-top: 0px;
    margin-bottom: 24px;
  }
  @media (min-width: $xxl) {
    display: flex;
    justify-content: center;
  }
}

.container--value-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 24px;
  column-gap: 32px;
  @media (min-width: $xxl) {
    display: grid;
    align-content: space-between;
  }
}

.container--panel {
  width: 100%;
}

.container--charts {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 24px;
  column-gap: 32px;
  @media (min-width: $xxl) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1152px;
    row-gap: 32px;
    margin-bottom: 16px;
  }
}

.container--chart-panels {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  @media (min-width: $xxl) {
    width: 1152px;
    row-gap: 32px;
  }
}

.wrapper--chart {
  width: 100%;
}

.wrapper--value {
  width: 100%;
}

.wrapper--filter {
  display: flex;
  justify-content: right;
  margin: 8px 0px 24px 0px;

  @media (min-width: $sm) {
    margin: 8px 16px 24px 0px;
  }
}

.filter--tabs {
  display: flex;
  border: 1px solid $gray-1;
  border-radius: 6px;
  width: 100%;

  @media (min-width: $sm) {
    width: auto;
  }

  @media (min-width: $xxl) {
    width: 100%;
  }
}
.btn--filter {
  padding: 4px 14px;
  cursor: pointer;
  width: 25%;
  text-align: center;
  transition: all 0.2s ease-in-out;

  @media (min-width: $sm) {
    padding: 2px 18px;
    width: auto;
  }
  @media (min-width: $xxl) {
    width: 100%;
  }
}

.btn--filter:not(:last-child) {
  border-right: 1px solid $gray-1;
}

.selected {
  background-color: $gray-1;
}

.skeleton--value-panel {
  height: 138px;
  @media (min-width: $xxl) {
    width: 560px;
  }
}

.container--value {
  padding: 8px 16px 32px;
  height: 138px;

  @media (min-width: $sm) {
    padding: 8px 24px 32px;
  }
  @media (min-width: $xxl) {
    width: 560px;
  }
}

.container--title--color {
  color: #b1b7c1;
}

.text--value {
  font-size: 26px;
  font-weight: 500;
}

.text--second-value {
  font-size: 20px;
  font-weight: 500;
  @media (min-width: $sm) {
    font-size: 26px;
  }
}

.row {
  padding: 16px 8px 0px 8px;
}

.container--value-panels-row {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $xxl) {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 16px;
  }
}

.container--network-status {
  width: 100%;
  margin-bottom: 32px;

  @media (min-width: $xxl) {
    margin-bottom: 0px;
  }
}

.row--value-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 6px;
}

.link--icon {
  margin-top: 2px;
}

.body--dark {
  .filter--tabs {
    border: 1px solid $gray-5-selected-dark;

    div:not(:last-child) {
      border-right: 1px solid $gray-5;
    }

    .selected {
      background-color: $gray-5-selected-dark;
    }
  }
}

.row-gap {
  row-gap: 24px;
}
