@import 'src/css/quasar.variables.scss';

.register-container--label {
  font-size: 14px;
  color: $gray-4;
}

.container--toggle {
  margin-bottom: 4px;
}

.container--radio {
  margin-top: 12px;
  margin-bottom: 12px;
}

.radio {
  margin-right: 16px;
}

.button--container {
  display: flex;
  justify-content: center;
}

.container--register {
  justify-self: center;
  padding-left: 24px;
  padding-right: 24px;
  z-index: 1;
  position: relative;
  @media (min-width: $lg) {
    margin-top: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.wrapper--register-form {
  @media (min-width: $xl) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.validation-warning {
  background: rgba(240, 185, 11, 0.2);
  border: 1px solid #f0b90b;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 40px;
}

.button--submit {
  font-size: 22px;
  font-weight: 600;
  height: 52px;
  width: 328px;
}

.banner--container {
  font-weight: 600;
  font-size: 22px;
  line-height: 157.3%;
  color: $navy-1;
  max-width: 800px;
  margin: 0 auto 40px auto;
}
.body--dark {
  .banner--container {
    color: $gray-1;
  }
}
