@import 'src/css/quasar.variables.scss';

.wrapper--ads {
  margin-top: 32px;
  @media (min-width: $lg) {
    margin-top: 0px;
  }
}

.card--welcome {
  height: 130px;
  padding-top: 24px;
  padding-left: 24px;
  border-radius: 16px;
  gap: 10px;
  background: $navy-2;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  background-repeat: no-repeat;
  background-size: 180px;
  font-size: 14px;
  font-weight: 600;
  color: $gray-0;
  background-position: top -10px right -32px;
}

.card--welcome-bg-astar {
  background-image: url('assets/img/chain/astar.png');
}

.card--welcome-bg-shiden {
  background-image: url('assets/img/chain/shiden.png');
}

.row--card-text {
  max-width: 200px;
  text-align: left;
}

.body--dark {
}
