@import 'src/css/quasar.variables.scss';
@import 'src/css/utils.scss';

.wrapper--account-unification {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.btn {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  height: 52px;
  border-radius: 9999px;
  &.close {
    background: transparent;
    color: $navy-1;
    border: solid 1px $navy-1;
  }
}
.body--dark {
  .btn {
    &.close {
      color: $gray-3;
      border-color: $gray-4;
    }
  }
}

.account-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  .icon {
    margin-right: 12px;
    height: 32px;
    width: 32px;
    flex-shrink: 0;
    border-radius: 9999px;
    object-fit: cover;
  }
}

.wallet-info__wrapper {
  background-color: $gray-1;
  margin-top: 8px;
  border-radius: 12px;
  text-align: left;
  border: solid 1px transparent;
}
.body--dark {
  .wallet-info__wrapper {
    background-color: $navy-2;
    border-color: $gray-4;
  }
}

.wallet-info {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  .wallet-info__icon {
    flex-shrink: 0;
    img {
      height: 32px;
      width: 32px;
      border-radius: 9999px;
      object-fit: cover;
    }
  }
  .wallet-info__address {
    flex: 1 1 0%;
  }
  .wallet-info__actions {
    display: flex;
    gap: 12px;
  }
}

.introduce-au {
  .introduce-au__text {
    max-width: 358px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
    padding-bottom: 64px;
    font-size: 30px;
    font-weight: 800;
    span {
      background: linear-gradient(
        60deg,
        #e6007a -5.88%,
        #703ac2 15.42%,
        #0070eb 40.77%,
        #0297fb 72.21%,
        #0ae2ff 95.53%
      );
      color: transparent;
      background-clip: text;
    }
  }
}

.wrapper--help {
  background-color: rgba($astar-blue, 3%);
  margin-top: 24px;
  padding: 24px;
  text-align: left;
}
.body--dark {
  .wrapper--help {
    background-color: rgba($astar-blue, 10%);
  }
}

.title--help {
  font-size: 16px;
  font-weight: 600;
}

.help-faq {
  dt {
    margin-top: 16px;
    margin-bottom: 8px;
  }
  dd {
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  a {
    color: $astar-blue;
  }
}
.body--dark {
  .help-faq {
    dd {
      background-color: $navy-1;
    }
    a {
      color: $astar-blue-dark;
    }
  }
}

.warning-check {
  border: solid 1px $warning-red;
  background-color: rgba($warning-red, 20%);
  color: $navy-1;
  border-radius: 12px;
  padding: 16px;
  text-align: left;
  display: flex;
  align-items: flex-start;
  input[type='checkbox'] {
    height: 16px;
    width: 16px;
    cursor: pointer;
    margin-right: 12px;
  }
}
.body--dark {
  .warning-check {
    color: white;
  }
}

.metamask {
  background-color: $gray-1;
  border: solid 1px transparent;
  overflow: hidden;
  border-radius: 12px;
  font-weight: 600;
  .metamask-info {
    padding-top: 24px;
    padding-bottom: 24px;
    .icon {
      margin-left: auto;
      margin-right: auto;
      margin-top: 8px;
      margin-bottom: 8px;
      height: 48px;
      width: 48px;
    }
    .address {
      margin-top: 8px;
    }
  }
  .connected {
    background-color: $astar-blue;
    padding: 4px;
    color: white;
  }
  .connect {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 24px;
  }
}
.body--dark {
  .metamask {
    background-color: $navy-2;
    border-color: $gray-4;
  }
}

.warning {
  border: solid 1px $warning-red;
  background-color: rgba($warning-red, 20%);
  color: $navy-1;
  margin-bottom: 24px;
  display: flex;
  align-items: flex-start;
  border-radius: 12px;
  padding: 16px;
  text-align: left;
  .icon-warning {
    color: $warning-red;
    margin-right: 12px;
  }
}
.body--dark {
  .warning {
    color: white;
  }
}

.unified-account-details {
  text-align: left;
  gap: 32px;
  display: flex;
  flex-direction: column;
  .label {
    margin-bottom: 8px;
    font-weight: 600;
  }
  input[type='text'],
  .evm-account,
  .account-icon {
    background-color: $gray-1;
    color: $navy-1;
    width: 100%;
    border-radius: 12px;
    padding: 20px;
    border: solid 1px transparent;
  }
  input[type='text'] {
    &::placeholder {
      color: $gray-3 !important;
    }
  }
  .evm-account,
  .account-icon {
    font-weight: 600;
    display: flex;
    align-items: center;
    .icon {
      margin-right: 12px;
      height: 32px;
      width: 32px;
      flex-shrink: 0;
      border-radius: 9999px;
      object-fit: cover;
    }
  }
  input[type='text'],
  .account-icon {
    &:hover,
    &:focus {
      border-color: $astar-blue;
      outline-width: 0;
    }
  }
}
.body--dark {
  .unified-account-details {
    input[type='text'],
    .evm-account,
    .account-icon {
      background-color: $navy-2;
      color: white;
      border-color: $gray-4;
    }
    input[type='text'] {
      &::placeholder {
        color: $gray-4 !important;
      }
    }
    input[type='text'],
    .account-icon {
      &:hover,
      &:focus {
        border-color: $astar-blue-dark;
      }
    }
  }
}

.text {
  font-weight: 600;
  text-align: left;
}

.evm-token-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: left;
  .row {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    span {
      display: block;
    }
    .column--icon {
      flex-shrink: 0;
      img {
        height: 32px;
        width: 32px;
        border-radius: 9999px;
        object-fit: cover;
      }
    }
    .column--balance {
      flex: 1 1 0%;
      text-align: right;
    }
    .symbol,
    .token {
      font-size: 16px;
      font-weight: 600;
    }
    .name,
    .usd {
      color: $gray-3;
    }
  }
}

.created-unified-account {
  .icon {
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80px;
    border-radius: 9999px;
    object-fit: cover;
  }
  .name {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
  }
  .native-account,
  .evm-account {
    background-color: $gray-1;
    padding: 24px;
  }
}
.body--dark {
  .created-unified-account {
    .native-account,
    .evm-account {
      background-color: $navy-2;
    }
  }
}

.completed {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .emoji {
    font-size: 48px;
  }
}

.nft-list {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  .item {
    border-radius: 16px;
    overflow: hidden;
    &:hover {
      opacity: 90%;
      cursor: pointer;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1 / 1;
    }
    &.item--selected {
      outline: solid 2px $astar-blue;
    }
  }
}
.body--dark {
  .nft-list {
    .item {
      &.item--selected {
        outline-color: $astar-blue-dark;
      }
    }
  }
}
