@import 'src/css/quasar.variables.scss';
@import 'src/css/utils.scss';

.wrapper--select-network {
  position: relative;
  flex-grow: 1;
}

.list--account {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.row--balance-option {
  display: flex;
  justify-content: center;
  justify-content: flex-end;
}

.box--account {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.wrapper--account-detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column--balance-option {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.text--option-label {
  font-weight: 500;
  font-size: 14px;
  color: $gray-4;
  padding-bottom: 2px;
}

.wrapper--modal-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 24px;
}

.class-radio {
  display: flex;
  align-items: center;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $navy-1;
  margin: 0 auto;
  padding: 24px 16px;
  cursor: pointer;
}

.class-radio-off {
  background: #fff;
  border: 1px solid transparent;
  transition: all 0.3s ease 0s;
}

.class-radio-off:hover {
  border: 1px solid $astar-blue;
}

.class-radio-on {
  border: 2px solid $astar-blue;
}

.class-radio-on {
  border: 1px solid $astar-blue;
}

.row--balance-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio-btn {
  width: 18px !important;
  margin-right: 18px !important;
}

.icons {
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
  margin-top: 10px;
}

.wrapper--account-detail {
  width: 100%;
  text-align: left;
  .accountName {
    color: $navy-1;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }
  .address {
    color: $gray-4;
    font-weight: 510;
    font-size: 12px;
    line-height: 20px;
    word-wrap: break-word;
    margin-top: 9px;
  }
}

.account-name {
  color: $gray-5;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

.address {
  color: $gray-4;
  font-weight: 510;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  margin-top: 4px;
  @media (min-width: $sm) {
    margin-top: 0px;
  }
}

.wrapper--share {
  display: flex;
  column-gap: 16px;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
  .box--share {
    display: flex;
    align-items: center;
    color: $astar-blue;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

.btn--primary {
  transition: all 0.4s ease 0s;
  border-radius: 16px;
  .icon--primary {
    svg {
      height: 24px;
      width: 24px;
    }
  }
  &:hover {
    color: white;
    stroke: white;
    background-color: $astar-blue;
    .icon--primary {
      stroke: white;
      background-color: transparent;
    }
  }
}

.wrapper__row--button {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 32px;
  row-gap: 24px;
}

.btn--connect {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  height: 52px;
}

.btn--disconnect {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  height: 52px;
  background-color: transparent;
  border: 1px solid $astar-blue;
  color: $astar-blue;
  transition: all 0.4s ease 0s;
  &:hover {
    background-color: $gray-5;
    border: 1px solid $gray-2;
    color: $gray-2;
  }
}

.column--remarks {
  display: flex;
  flex-direction: column;
  text-align: left;
  row-gap: 8px;
  padding-top: 24px;
  padding-left: 28px;
}

.dot {
  position: relative;
  top: -30px;
  height: 7px;
  width: 8px;
  border-radius: 90%;
  background-color: #00ff00;
}

.text--balance {
  font-weight: 500;
  font-size: 12px;
  color: $navy-1;
}

.text--balance-hide {
  font-weight: 500;
  font-size: 12px;
  color: $gray-4;
}

.body--dark {
  .class-radio {
    color: #fff;
  }
  .class-radio-off {
    background: $modal-item-bg-dark;
  }

  .class-radio-on {
    background: $container-bg-dark;
  }

  .wrapper--account-detail {
    .account-name {
      color: $gray-1;
    }
    .address {
      color: $gray-3;
    }
  }
  .text--balance {
    color: white;
  }
}
