@import 'src/css/quasar.variables.scss';
@import 'src/css/utils.scss';

.wrapper--modal-network {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 20px;
}

.class-radio {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 6px;
  min-height: rem(56);
  width: rem(314);
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $gray-5;
  margin: 0 auto;
  margin-top: 16px;
  padding: 16px;
  cursor: pointer;
}
.class-radio-off {
  background: #fff;
  border: 1px solid transparent;
}
.class-radio-off:hover {
  border: 1px solid $astar-blue;
}
.class-radio-on {
  border: 2px solid $astar-blue;
}

.ip--network[type='radio'] {
  width: rem(16);
  height: rem(16);
  border-radius: 50%;
  box-shadow: 0 0 0 1px $gray-3;
  -webkit-appearance: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: rem(12);
  &:checked {
    border: 3px solid white;
    background-color: $astar-blue;
    box-shadow: 0 0 0 2px $astar-blue;
  }
}

.box-input--endpoint {
  border-radius: 50%;
  border: 4px solid $gray-3;
}

.input--endpoint[type='radio'] {
  width: rem(10);
  height: rem(10);
  border-radius: 50%;
  box-shadow: 0 0 0 2px white;
  -webkit-appearance: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:checked {
    border: 1px solid white;
    background-color: $gray-3;
  }
}

.wrapper--network-detail {
  flex: 1 1 0%;
  text-align: left;

  .box--radio-network {
    display: flex;
    padding-left: rem(8);
    align-items: center;
  }
  .box--display-name {
    margin-left: rem(8);
  }
}

.class-radio--custom-network {
  height: 120px;
  background: #fff !important;
}

.ip-input {
  width: 236px;
  height: 48px;
  text-align: center;
  margin-top: 16px;
  margin-left: 8px;
  border-radius: 6px;
  background-color: $gray-1;
  border: 1px solid $gray-1;
  padding: 0 16px;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  color: $gray-5;
}

.ip-input:focus {
  outline: none;
}

.wrapper__row--button {
  display: flex;
  justify-content: center;
}

.btn--connect {
  width: 315px;
  background-color: $astar-blue;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  height: 52px;
  margin-top: 24px;
  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      linear-gradient(0deg, $astar-blue, $astar-blue);
  }
}

.box--endpoints {
  padding-left: 40px;
  margin-top: 16px;
  display: flex;
  column-gap: 24px;
}

.column--options {
  display: flex;
  flex-direction: column;
  row-gap: 9.6px;
}

.column--network-option {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.body--dark {
  .class-radio {
    color: #fff;
  }
  .class-radio-off {
    background: $gray-6;
  }

  .class-radio-on {
    background: $gray-5-selected-dark;
  }
  .class-radio--custom-network {
    background: $gray-6 !important;
  }

  .ip--network {
    box-shadow: 0 0 0 0.5px white;

    &:checked {
      border: 3px solid $gray-5;
    }
  }

  .ip-input {
    background: $gray-5-selected-dark;
    border: 1px solid $gray-4;
    color: $gray-1;
  }

  .box-input--endpoint {
    border: 0px solid transparent;
  }

  .input--endpoint[type='radio'] {
    width: rem(16);
    height: rem(16);
    box-shadow: 0 0 0 1.5px white;
    &:checked {
      border: 3px solid $gray-5;
      background-color: white;
    }
  }
}
