@import 'src/css/quasar.variables.scss';
@import 'src/css/utils.scss';

.wrapper--select-network {
  position: relative;
  flex-grow: 1;
}

.list--account {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.row--balance-option {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.column--balance-option {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.text--option-label {
  font-weight: 500;
  font-size: 14px;
  color: $gray-3;
  padding-bottom: 2px;
}

.wrapper--modal-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 20px;
}

.class-radio {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 6px;
  width: rem(314);
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $gray-5;
  margin: 0 auto;
  padding: 24px 16px;
  cursor: pointer;
}
.class-radio-off {
  background: #fff;
  border: 1px solid transparent;
}
.class-radio-off:hover {
  border: 1px solid $astar-blue-dark;
}
.class-radio-on {
  border: 2px solid $astar-blue-dark;
}

.row--address-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
  margin-top: 6px;
}

.wrapper--account-detail {
  width: 100%;
  text-align: left;
  .accountName {
    color: $gray-5;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }
  .address {
    color: $gray-4;
    font-weight: 510;
    font-size: 12px;
    line-height: 20px;
    word-wrap: break-word;
    margin-top: 9px;
  }
}
.wrapper--share {
  display: flex;
  column-gap: 16px;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
  .box--share {
    display: flex;
    align-items: center;
    color: $astar-blue-dark;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

.btn--primary {
  transition: all 0.4s ease 0s;
  border-radius: 16px;
  &:hover {
    color: white;
    stroke: white;
    background-color: $astar-blue-dark;
    .icon--primary {
      stroke: white;
      background-color: transparent;
    }
  }
}

.wrapper__row--button {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.btn--connect {
  width: 340px;
  background-color: $astar-blue;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  height: 52px;
  margin-top: 40px;
  // margin-top: 16px;
  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      linear-gradient(0deg, $astar-blue, $astar-blue);
  }
}

.column--remarks {
  display: flex;
  flex-direction: column;
  text-align: left;
  row-gap: 8px;
  padding-top: 24px;
  padding-left: 28px;
}

.dot {
  position: relative;
  top: -40px;
  height: 7px;
  width: 7px;
  border-radius: 90%;
  background-color: #00ff00;
}

.text--balance {
  font-weight: 500;
  font-size: 12px;
  color: $gray-5;
}

.text--balance-hide {
  font-weight: 500;
  font-size: 12px;
  color: $gray-3;
}

.body--dark {
  .class-radio {
    color: #fff;
  }
  .class-radio-off {
    background: $gray-6;
  }

  .class-radio-on {
    background: $gray-5-selected-dark;
  }

  .wrapper--account-detail {
    .accountName {
      color: $gray-1;
    }
    .address {
      color: $gray-3;
    }
  }
  .text--balance {
    color: white;
  }
}
