@import 'src/css/quasar.variables.scss';

.wrapper--information {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  // max-width: 400px;
  // @media (min-width: $xl) {
  //   max-width: 420px;
  // }
  width: 348px;
  @media (min-width: $md) {
    width: 320px;
  }
  @media (min-width: $xl) {
    width: 420px;
  }
}

.container--information {
  border: 1px solid $gray-3;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 16px;
  color: $gray-3;
}

.box--contents {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.row--title {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 12px;
}

.text-contents {
  font-weight: 500;
}

.text--active {
  color: $astar-blue;
  font-weight: 500;
  cursor: pointer;
}

.box--histories {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.container--hot-topics-contents {
  display: flex;
  justify-content: space-between;
}

.container--explorer-icon {
  stroke: $gray-4;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
  border-radius: 30px;
  height: 24px;
  opacity: 0.5;
  svg {
    height: 30px;
    width: 30px;
  }
}

.body--dark {
  .container--information {
    color: $gray-4;
    background: $gray-6;
    border: 1px solid $gray-4;
  }
  .container--explorer-icon {
    opacity: 1;
  }
}
