@import 'src/css/quasar.variables.scss';

.wrapper--information {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 348px;
  @media (min-width: $md) {
    width: 320px;
  }
  @media (min-width: $xl) {
    width: 420px;
  }
}

.container--information {
  border: 1px solid $object-light;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 16px;
  color: $gray-3;
  background: white;
  @media (min-width: $md) {
    background: transparent;
  }
}

.text--title-feature {
  font-weight: 800;
  font-size: 16px;
  color: white;
}

.icon-play {
  margin-bottom: -4px;
}

.container--how-to-use {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 16px;
  color: $gray-1;
  background: radial-gradient(
    89.58% 264.76% at 50% 50%,
    rgba(0, 133, 255, 0.3) 0%,
    rgba(0, 133, 255, 0.5) 100%
  );
  transition: all 0.3s ease 0s;
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  &:hover {
    transition: all 0.3s ease 0s;
    background: radial-gradient(89.58% 264.76% at 50% 50%, rgba(0, 133, 255, 0.6) 0%, #0085ff 100%);
    .text--title-feature {
      transition: all 0.3s ease 0s;
      color: $gray-1;
    }
    .icon-play {
      color: white;
    }
  }
}

.box--contents {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  color: $gray-5;
  cursor: pointer;
  &:hover {
    .container--explorer-icon {
      transition: all 0.3s ease 0s;
      stroke: $astar-blue;
      opacity: 1;
    }
    .text-topics-link {
      transition: all 0.3s ease 0s;
      color: $astar-blue;
      font-weight: 500;
      cursor: pointer;
    }
  }
  @media (min-width: $md) {
    color: $gray-3;
  }
}

.row--title {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
  color: $gray-5;
  @media (min-width: $md) {
    color: $gray-3;
  }
}

.text-faq-link {
  font-weight: 500;
  transition: all 0.3s ease 0s;
  &:hover {
    transition: all 0.3s ease 0s;
    color: $astar-blue;
    font-weight: 500;
    cursor: pointer;
  }
}

.text-topics-link {
  font-weight: 500;
  transition: all 0.3s ease 0s;
}

.box--histories {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.container--hot-topics-contents {
  display: flex;
  justify-content: space-between;
}

.container--explorer-icon {
  stroke: $gray-5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
  border-radius: 30px;
  height: 24px;
  svg {
    height: 30px;
    width: 30px;
  }
  @media (min-width: $md) {
    stroke: $gray-4;
    opacity: 0.5;
  }
}

.body--dark {
  .container--information {
    color: $gray-4;
    background: $gray-7;
    border: 1px solid $gray-5;
    @media (min-width: $md) {
      background: $gray-6;
    }
  }
  .container--how-to-use {
    color: $gray-4;
    background: radial-gradient(
      89.58% 264.76% at 50% 50%,
      rgba(0, 133, 255, 0.15) 0%,
      rgba(0, 133, 255, 0.05) 100%
    );
    &:hover {
      background: radial-gradient(
        89.58% 264.76% at 50% 50%,
        rgba(0, 133, 255, 0.9) 0%,
        rgba(0, 133, 255, 0.5) 100%
      );
    }
  }
  .container--explorer-icon {
    opacity: 1;
  }
  .row--title {
    color: $gray-1;
    @media (min-width: $md) {
      color: $gray-4;
    }
  }
  .box--contents {
    color: $gray-1;
    @media (min-width: $md) {
      color: $gray-4;
    }
  }
  .container--explorer-icon {
    stroke: $gray-1;
    @media (min-width: $md) {
      stroke: $gray-4;
    }
  }
  .text--title-feature {
    color: $gray-4;
  }
}
