@import 'src/css/quasar.variables.scss';

.wrapper--local-transfer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box--input-field {
  display: grid;
  row-gap: 12px;
  padding: 9px 15px;
  border-radius: 6px;
  height: 88px;
  background: transparent;

  border: 1px solid $navy-1;
  @media (min-width: $xs) {
    width: 344px;
  }
  @media (min-width: $sm) {
    width: 412px;
  }
}

.rows {
  display: grid;
  row-gap: 16px;
  margin-bottom: 8px;
}

.btn-margin-adjuster {
  margin-top: 24px;
}

.box--margin-adjuster {
  margin-top: 8px;
}

.row--box-error {
  padding: 10px 20px;
  border-radius: 6px;
  width: 344px;
  margin-bottom: 24px;
  border: 1px solid $warning-red;
  background: $box-red;
  text-align: left;
  @media (min-width: $sm) {
    width: 412px;
  }
}

.rows__row--wrong-evm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -18px;
}

.box--warning {
  display: grid;
  row-gap: 12px;
  padding: 10px 16px;
  border-radius: 6px;
  width: 344px;
  background: $transparent-red;
  border: 1px solid $warning-red;
  margin-bottom: -16px;
  @media (min-width: $sm) {
    width: 412px;
  }
}

.box--warning--checked {
  background: $box-red;
}

.box__row {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.box__space-between {
  display: flex;
  justify-content: space-between;
}

.box__available {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.wrapper__row--button {
  display: flex;
  justify-content: center;
}

.box__column--input-amount {
  justify-self: flex-end;
  width: 100%;
  display: grid;
}

.column--wallet-address {
  display: flex;
  column-gap: 8px;
  align-items: center;
  @media (min-width: $xs) {
    column-gap: 12px;
  }
}

.column--wallet-name {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @media (min-width: $xs) {
    max-width: 110px;
  }
}

.text--to--balance {
  font-weight: 400;
  font-size: 12px;
  color: $gray-4;
}

.text--available {
  color: $astar-blue;
  font-weight: 400;
  font-size: 12px;
}

.btn--max {
  border: 1px solid $astar-blue;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
  border-radius: 32px;
  padding: 1px 12px;
  color: $astar-blue;
  font-weight: 500;
  font-size: 11px;
  transition: all 0.3s ease 0s;
  &:hover {
    transition: all 0.3s ease 0s;
    background-color: $astar-blue;
    color: white;
  }
}

.text--connect-rpc {
  cursor: pointer;
  color: $astar-blue;
  text-decoration: underline;
  font-weight: 600;
}

.input--amount {
  width: 180px;
  font-size: 22px;
  outline: none;
  background: transparent;
  text-align: right;
  font-weight: 600;
  color: $navy-1;
  justify-self: flex-end;
  @media (min-width: $md) {
    width: 250px;
  }
}

.input--checkbox {
  display: flex;
  column-gap: 8px;
}

.input--checkbox input[type='checkbox'] {
  display: none;
  width: 20px;
}

.input--checkbox input[type='checkbox'] + label {
  display: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 32px;
}

.input--checkbox input[type='checkbox'] + label::before {
  content: '';
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  left: 0;
  top: 50%;
  border: 1px solid;
  border-color: $warning-red;
  background-color: transparent;
  border-radius: 4px;
}

.input--checkbox--checked input[type='checkbox'] + label::before {
  border-color: white !important;
}

.input--checkbox input[type='checkbox']:checked + label::after {
  content: '';
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 14px;
  height: 7px;
  margin-top: -5px;
  top: 50%;
  left: 3px;
  transform: rotate(-45deg);
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color: white;
}

.color--not-checked {
  color: $warning-red;
}

.token-logo {
  width: 24px;
  height: 24px;
  img {
    border-radius: 50%;
  }
}

.token-native-adjustment {
  margin-top: -4px;
}

.separator {
  border-top: 1px solid transparent;
  border-image: linear-gradient(
    121.48deg,
    #e6007a -5.77%,
    #703ac2 13.57%,
    #0070eb 34.18%,
    #0297fb 58.08%,
    #0ae2ff 74.93%
  );
  border-image-slice: 1;
  opacity: 0.5;
  margin: 6px 0;
}

.btn-size-adjust {
  width: 100%;
  @media (min-width: $xs) {
    width: 344px;
  }
  @media (min-width: $sm) {
    width: 412px;
  }
}

.icon--expand {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--confirm {
  font-size: 22px;
  font-weight: 600;
  height: 44px;
}

.column--warning {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.row--warning-title {
  display: flex;
  column-gap: 8px;
}

.text--dot {
  position: relative;
  top: 4px;
  font-size: 24px;
  font-weight: 700;
}

.text--title-evm-warning {
  font-weight: 700;
  font-size: 14px;
}

.text--evm-warning {
  font-weight: 500;
  font-size: 14px;
}

.icon--warning {
  color: $warning-red;
}

.column--warnings {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  margin-left: 18px;
}

.body--dark {
  .box--input-field {
    background: transparent;
    border: 1px solid $gray-3;
  }
  input {
    color: white;
  }

  .text--connect-rpc {
    color: $astar-blue;
  }

  .row--box-error {
    background: $box-red-dark;
  }

  .box--warning--checked {
    background: $box-red-dark;
  }

  .color--not-checked {
    color: $gray-1;
  }
}
