@import 'src/css/quasar.variables.scss';

.wrapper--mobile-navigator {
  margin-left: -16px;
  margin-right: -16px;
  margin-top: 16px;
  margin-bottom: 40px;
}

.container--mobile-navigator {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  padding: 16px 0;
  @media (min-width: $sm) {
    column-gap: 18px;
  }
  @media (min-width: $md) {
    display: none;
  }
}

.circle--button {
  display: flex;
  align-items: center;
  column-gap: 4px;
  border-radius: 20px;
  border: 1px solid $gray-4;
  padding: 8px 16px 8px 8px;
  white-space: nowrap;
  font-weight: 500;
  color: $gray-4;
  @media (min-width: $sm) {
    column-gap: 8px;
  }
}

.body--dark {
  .circle--button {
    color: $gray-4;
    border: 1px solid $gray-4;
  }
}
