@import 'src/css/quasar.variables.scss';

.container--select-item {
  border: 1px solid $gray-3;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 16px;
  color: $gray-3;
  height: 470px;
  width: 348px;
  overflow: auto;
  @media (min-width: $md) {
    width: 320px;
  }
  @media (min-width: $xl) {
    width: 420px;
  }
}

.container--select-item-mobile {
  border-radius: 6px;
  box-sizing: border-box;
  color: $gray-3;
  background-color: transparent;
  padding: 14px;
  max-height: 420px;
  overflow: auto;
}

.row--title {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
}

.container--items {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.row--item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 8px;
  margin-left: -8px;
  margin-right: -8px;
  background-color: white;
  border: 1px solid transparent;
  @media (min-width: $md) {
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.row--item-selected {
  background-color: white;
  background-color: $gray-1;
  border: 1px solid $astar-blue;
  @media (min-width: $md) {
    background-color: transparent;
    border: 1px solid transparent;
  }
}

.column--item-name {
  display: flex;
  column-gap: 8px;
  align-items: center;
  font-size: 16px;
  padding: 16px;
  color: $gray-5;
  font-weight: 700;
}

.item-logo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.native-token-logo {
  width: 24px;
  border-radius: 50%;
}

.body--dark {
  .container--select-item {
    color: $gray-1;
    background: $gray-6;
    border: 1px solid $gray-4;
  }
  .column--item-name {
    color: $gray-1;
  }
  .row--item {
    background-color: $gray-7;
    @media (min-width: $md) {
      background-color: $gray-6;
    }
  }
  .row--item-selected {
    background-color: $gray-6;
    @media (min-width: $md) {
      background-color: $gray-5;
    }
  }
}
