@import 'src/css/quasar.variables.scss';

.box--history {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history--left {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.icon--check-active {
  color: $connected-green;
}

.icon--check {
  opacity: 0.5;
  color: $connected-green;
}

.history-description-active {
  color: $astar-blue;
  font-weight: 500;
}

.history-description {
  font-weight: 500;
}

.container--explorer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: $astar-blue;
  transition: all 0.3s ease 0s;
  border-radius: 30px;
  height: 24px;
  svg {
    height: 30px;
    width: 30px;
  }
}

.explorer-icon-active {
  stroke: $astar-blue;
}
.explorer-icon {
  stroke: $gray-4;
  opacity: 0.5;
}

.body--dark {
  .icon--check {
    opacity: 1;
    color: $gray-4;
  }
  .explorer-icon {
    opacity: 1;
    stroke: $gray-4;
  }
}
