@import 'src/css/quasar.variables.scss';

.box--tab {
  width: 170px;
  display: flex;
  justify-content: center;
  height: 42px;
  @media (min-width: $md) {
    width: 240px;
  }
}

.selected-tab {
  border-bottom: 3px solid $blue;
  transition: all 0.3s ease 0s;
}

.unselected-tab {
  cursor: pointer;
  border-bottom: 2px solid rgba(95, 101, 111, 0.2);
  transition: all 0.3s ease 0s;
}

.text--title-tab {
  @media (min-width: $md) {
    font-size: 16px;
  }
}

.text--selected {
  font-weight: 600;
}

.text--xcm {
  display: none;
  @media (min-width: $md) {
    display: block;
    font-size: 16px;
    margin-left: 4px;
  }
}

.row--tab {
  display: flex;
}

.row--mode-tab {
  display: flex;
  column-gap: 12px;
}
