@import 'src/css/quasar.variables.scss';

.wrapper--xcm-bridge {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box--input-field {
  display: grid;
  row-gap: 12px;
  padding: 9px 15px;
  border-radius: 6px;
  width: 320px;
  height: 88px;
  background: transparent;

  border: 1px solid $gray-3;
  @media (min-width: $xs) {
    width: 344px;
  }
  @media (min-width: $md) {
    width: 400px;
  }
  @media (min-width: $xl) {
    width: 420px;
  }
}

.rows {
  display: grid;
  row-gap: 16px;
  margin-bottom: 24px;
  position: relative;
}

.row--balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row--box-error {
  padding: 10px 20px;
  border-radius: 6px;
  width: 344px;
  margin-bottom: 24px;
  border: 1px solid $warning-red;
  background: $box-red;
  text-align: left;
  margin-top: -16px;
  @media (min-width: $md) {
    width: 400px;
  }
  @media (min-width: $xl) {
    width: 420px;
  }
}

.row--withdrawal-address-format {
  text-align: end;
}

.row--reverse {
  display: flex;
  justify-content: center;
  position: relative;
}

.icon--reverse {
  position: absolute;
  height: 32px;
  width: 32px;
  padding: 4px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $gray-3;
  cursor: pointer !important;
  margin-top: -24px;
  background: $body-bg-light;
}

.adjust--to-input {
  margin-top: -16px;
}

.option--disabled {
  cursor: not-allowed !important;
}

.box__available {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.box__row {
  display: flex;
  column-gap: 8px;
  align-items: center;
  width: 100%;
}

.box__column--input-amount {
  justify-self: flex-end;
  width: 100%;
  display: grid;
}

.column--title {
  display: flex;
  align-items: center;
  position: relative;
}

// Memo: `list-style-type` is not working
.text--dot {
  left: -24px;
  position: absolute;
  font-size: 24px;
  font-weight: 700;
}

.icon--help {
  font-size: 20px;
  margin-bottom: -6px;
}

.container--warning {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin-bottom: 24px;
  border: 1px solid $border-yellow;
  padding: 8px 0;
  padding-left: 34px;
  width: 344px;
  border-radius: 6px;
  background: $transparent-yellow;
  @media (min-width: $md) {
    width: 400px;
  }
  @media (min-width: $xl) {
    width: 420px;
  }
}

.row--warning {
  display: flex;
  align-items: normal;
  column-gap: 6px;
  color: $warning-yellow;
}

.loader {
  position: absolute;
  z-index: 100;
  height: 100px;
  width: 100px;
}

.btn--max {
  border: 1px solid $astar-blue-dark;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
  border-radius: 4px;
  padding: 2px 10px;
  color: $astar-blue-dark;
  font-weight: 500;
  font-size: 11px;
  transition: all 0.3s ease 0s;
  &:hover {
    transition: all 0.3s ease 0s;
    background-color: $astar-blue-dark;
    color: white;
  }
}

.input--amount {
  width: 180px;
  font-size: 22px;
  outline: none;
  background: transparent;
  text-align: right;
  font-weight: 600;
  color: $gray-5;
  justify-self: flex-end;
  @media (min-width: $md) {
    width: 250px;
  }
}

.token-logo {
  border-radius: 50%;
}

.text--available {
  color: $astar-blue;
  font-weight: 400;
  font-size: 12px;
}

.text--warning {
  font-weight: 500;
  font-size: 14px;
  color: $warning-yellow;
}

.btn-size-adjust {
  @media (min-width: $xs) {
    width: 344px;
  }
  @media (min-width: $md) {
    width: 400px;
  }
  @media (min-width: $xl) {
    width: 420px;
  }
}

.box--input-address {
  display: grid;
  row-gap: 8px;
  padding: 9px 15px;
  border-radius: 6px;
  width: 320px;
  background: transparent;
  border: 1px solid $gray-3;
  margin-bottom: 4px;
  @media (min-width: $xs) {
    width: 344px;
  }
  @media (min-width: $md) {
    width: 400px;
  }
  @media (min-width: $xl) {
    width: 420px;
  }
}

.input--address {
  width: 230px;
  background-color: transparent;
  width: 100%;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $gray-3 !important;
  }
}

.row--msg-input-address {
  display: flex;
  justify-content: space-between;
}

.icon--expand {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body--dark {
  .box--input-field {
    background: $gray-6;
    border: 1px solid $gray-4;
  }
  input {
    color: white;
  }
  .selected-bridge-option {
    border-bottom: 3px solid $astar-blue-dark;
  }
  .text--warning {
    color: $gray-1;
  }
  .row--warning {
    color: $gray-1;
  }
  .row--box-error {
    background: $box-red-dark;
  }
  .icon--reverse {
    border: 1px solid $gray-3;
    background: $body-bg-dark;
  }
  .box--input-address {
    background: $gray-6;
    border: 1px solid $gray-4;
  }
  .input--address {
    &::placeholder {
      color: $gray-4 !important;
    }
  }
}
