@import 'src/css/quasar.variables.scss';

.panel--item {
  background: $gray-1;
  padding: 8px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  table {
    width: 100%;

    thead {
      th {
        text-align: left;
        background: #fff;
        color: #9da3ae;
        font-weight: 600;
        font-size: 12px;
        padding: 8px;
      }
    }

    tbody {
      tr {
        background: $gray-1;
        td {
          padding: 19px 8px;
          font-weight: 600;
          font-size: 14px;
        }
      }
    }
  }

  .row--manage {
    display: flex;
    gap: 8px;
    justify-content: right;
    margin-bottom: 10px;
    margin-right: 8px;
  }
}

.body--dark {
  .panel--item {
    background: $gray-6;
    table {
      thead {
        th {
          background: $gray-5-selected-dark;
        }
      }

      tbody {
        tr {
          background: $gray-6;
        }
      }
    }
  }
}