@import 'src/css/quasar.variables.scss';

.panel--item {
  background: $gray-1;
  padding: 8px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  table {
    width: 100%;

    thead {
      th {
        text-align: left;
        background: rgba(0, 0, 0, 0.03); 
        color: $gray-4;
        font-weight: 600;
        font-size: 12px;
        padding: 8px;
      }
    }

    tbody {
      tr {
        background: $gray-1;
        td {
          padding: 19px 8px;
          font-weight: 600;
          font-size: 14px;
        }
      }
    }
  }

  .row--remaining-era {
    display: flex;
    gap: 6px;
  }

  .row--manage {
    display: flex;
    gap: 8px;
    justify-content: right;
    margin-bottom: 10px;
    margin-right: 8px;
  }

  .badge--unregistered {
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: $warning-red;
    background: rgba(255, 86, 33, 0.1);
    border: 1px solid $warning-red;
    border-radius: 6px;
    padding: 8px 16px 8px 8px;

    .btn--claim-unbond {
      width: 153px;
      height: 24px;
      font-weight: 600;
      font-size: 14px;
      color: #fff;
      background: $warning-red;
      border-radius: 30px;
      margin-top: 10px;
    }
  }
}

.body--dark {
  .panel--item {
    background: $gray-6;
    table {
      thead {
        th {
          background: $gray-5-selected-dark;
        }
      }

      tbody {
        tr {
          background: $gray-6;
        }
      }
    }
  }
}