@import 'src/css/quasar.variables.scss';

.table-container {
  background: $gray-1;
  height: 320px;
  margin-top: 34px;
  padding: 40px;
  border-radius: 6px;
}

table {
  border-collapse: collapse;
  width: 100%;
  float: left;
  thead {
    th {
      padding: 20px 24px;
      font-weight: 600;
      font-size: 14px;
      text-align: left;
      color: $gray-4;
      background: rgba(0, 0, 0, 0.02);
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $object-light;
      td {
        color: $gray-5-selected;
        font-weight: 600;
        font-size: 14px;
      }
    }
  }

  .title--manage {
    text-align: center;
  }

  .row--manage {
    display: flex;
    gap: 8px;
    justify-content: center;
  }

  @media (min-width: $lg) {
    min-width: 720px;
  }
}

@mixin table-desktop {
  display: table;
  border: hidden;

  th,
  td {
    display: table-cell;
  }

  tr {
    display: table-row;
    float: none;
    margin: 0;
    box-shadow: none;

    td {
      padding: 20px 24px;
      float: none;
      width: auto;

      &:before {
        padding: 0 !important;
      }
    }
  }

  thead {
    display: table-header-group;
  }

  tbody,
  tfoot {
    display: table-row-group;
  }

  tr:nth-of-type(even) {
    background: none;
  }
}

#my-table {
  @include table-desktop;
}

.body--dark {
  .table-container {
    background: $gray-6;
  }

  table {
    thead {
      th {
        background: rgba(255, 255, 255, 0.02);
        color: $gray-3;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $gray-5;
        box-shadow: none;
        td {
          color: $gray-1;
        }
      }
    }
  }
}
