@import 'src/css/quasar.variables.scss';

.wrapper--cards {
  display: flex;
  gap: 24px;
  width: 100%;
  max-width: 1295px;
  margin-top: 34px;
  padding-right: 25px;

  @media (max-width: $lg) {
    gap: 16px;
  }

  @media (max-width: $md) {
    flex-wrap: wrap;
    padding-right: 0;
  }
}

.wrapper--icon-help {
  cursor: pointer;
  padding-top: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: none;
  flex-basis: 24%;
  min-width: 200px;
  height: 142px;
  background: $gray-1;
  border-radius: 6px;
  padding: 40px 24px;

  p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 14px;
    color: $gray-3;
  }
  .row--data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;

    .loading {
      width: 80px;
    }
  }
  .value {
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: $gray-5-selected;
  }

  @media (max-width: $lg) {
    min-width: 160px;
    height: 114px;
    padding: 24px 16px;

    .row--data {
      margin-top: 15px;
    }
  }

  @media (max-width: $md) {
    display: block;
    width: 100%;
    flex-basis: 100%;
  }
}

.explorer-icon {
  stroke: $astar-blue;
  svg {
    height: 30px;
    width: 30px;
  }
  &:hover {
    stroke: white;
  }
}

.body--dark {
  .card {
    background: $gray-6;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);

    p {
      color: $gray-3;
    }

    .value {
      color: $gray-1;
    }
  }
}