@import 'src/css/quasar.variables.scss';

.wrapper--cards {
  display: flex;
  gap: 24px;
  width: 100%;
  max-width: 1295px;
  margin-top: 34px;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
  @media (min-width: $md) {
    flex-wrap: nowrap;
  }
}

.wrapper--icon-help {
  padding-top: 7px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 24%;
  min-width: 200px;
  background: $gray-1;
  border-radius: 6px;
  min-width: 150px;
  padding: 24px 16px;
  flex-basis: 100%;
  width: 100%;
  @media (min-width: $lg) {
    padding: 32px 24px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: auto;
  }

  @media (min-width: $xl) {
    min-width: 160px;
  }

  .row--title {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 14px;
    color: $gray-3;
    height: 30px;
    @media (min-width: $lg) {
      margin-bottom: 16px;
    }
  }
  .row--data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-top: 15px;
    @media (min-width: $lg) {
      margin-top: 0px;
    }

    .loading {
      width: 80px;
    }
  }
  .value {
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: $gray-5-selected;
  }
}

.explorer-icon {
  stroke: $astar-blue;
  svg {
    height: 30px;
    width: 30px;
  }
  &:hover {
    stroke: white;
  }
}

.body--dark {
  .card {
    background: $gray-6;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);

    p {
      color: $gray-3;
    }

    .row--title {
      color: $gray-3;
    }

    .value {
      color: $gray-1;
    }
  }
}

.claim-warning {
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-top: 20px;
  border: 1px solid $warning-red;
  background-color: rgba(255, 86, 33, 0.3);
  color: $warning-red;
  padding: 8px 16px;
}

.body--dark {
  .claim-warning {
    color: $gray-1;
  }
}
