@import 'src/css/quasar.variables.scss';

.txt--header {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: $gray-5-selected;
  margin-left: 6px;
  margin-bottom: 24px;
}
.staking-container {
  grid-template-columns: repeat(auto-fit, minmax(288px, max-content));
  background: #fff;
  border-radius: 6px;
  padding: 18px 24px 24px 24px;
  box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.08);
}

.wrapper--tabs {
  display: flex;
  justify-content: space-between;

  @media (max-width: $md) {
    display: block;
  }
}

.responsive {
  width: 100%;
  overflow-x: auto;
}

.text--transferable {
  font-weight: 600;
  font-size: 14px;
  color: $gray-3;
  margin-top: 16px;
  text-align: right;

  @media (max-width: $lg) {
    margin-top: 32px;
  }
}

.tabs {
  border-collapse: separate;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
  &.tabs-center {
    margin: auto;
  }
  &.tabs-justify {
    width: 100%;
    table-layout: fixed;
  }
  .tab {
    position: relative;
    display: table-cell;
    transition: all ease 0.3s;
    padding: 14px 10px;
    transform: translate3d(0, 0, 0);
    color: $gray-5-selected;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      text-shadow: 0.6px 0 0 currentColor;
    }
    &:after {
      transition: all 0.3s cubic-bezier(1, 0, 0, 1);
      will-change: transform, box-shadow, opacity;
      position: absolute;
      content: '';
      height: 3px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      border-radius: 3px 3px 0px 0px;
      background: $astar-blue;
      opacity: 0;
      transform: scale(0, 1);
    }
    &.active {
      font-weight: 600;
      &:after {
        opacity: 1;
        transform: scale(1, 1);
      }
    }
  }
}

.body--dark {
  .txt--header {
    color: $gray-1;
  }
  .staking-container {
    background: $gray-5-selected-dark;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
  }

  .tabs {
    .tab {
      color: $gray-1;
    }
  }
}