@import 'src/css/quasar.variables.scss';

.panel {
  margin-bottom: 25px;
  padding-top: 55px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 24px;
  max-width: 1567px;
  margin-left: -16px;
  margin-right: -16px;
  max-width: 1290px;

  @media (min-width: $sm) {
    padding-left: 28px;
  }
  @media (min-width: $md) {
    margin-left: 0px;
    margin-right: 0px;
  }
  @media (min-width: $lg) {
    padding-left: 28px;
    padding-right: 28px;
  }

  @media (min-width: $md) {
    border-radius: 0px 0px 6px 6px;
  }
}
.wrapper--title {
  margin-left: 16px;
  margin-bottom: 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  color: $gray-1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  .txt--title {
    font-size: 40px;
    line-height: 53px;
    letter-spacing: 0.1em;
  }
  .txt--subtitle {
    font-size: 24px;
    line-height: 27px;
  }
}

.wrapper--cards {
  display: flex;
  width: 100%;
  max-width: 1295px;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  column-gap: 16px;
  &::-webkit-scrollbar {
    display: none;
  }
  @media (min-width: $sm) {
    column-gap: 16px;
  }
  @media (min-width: $md) {
    justify-content: space-between;
  }
}

.wrapper--icon-help {
  cursor: pointer;
  padding-top: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: none;
  height: 126px;
  padding: 36px 20px;
  background: linear-gradient(180deg, rgba(25, 29, 31, 0) 4.17%, rgba(255, 255, 255, 0.3) 79.69%);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 6px;

  @media (min-width: $md) {
    flex-basis: 23%;
  }

  p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 14px;
    color: $gray-1;
  }
  .row--data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    .value {
      display: flex;
      font-weight: 600;
      font-size: 20px;
      line-height: 18px;
      color: $gray-1;

      .detail-value {
        font-size: 12px;
        font-weight: 500;
        margin-left: 5px;
      }
      @media (max-width: $lg) {
        display: block;
      }
    }
    .column--tvl {
      display: flex;
      font-weight: 600;
      font-size: 19px;
      line-height: 18px;
      color: $gray-1;

      .txt--tvl {
        white-space: nowrap;
      }

      .detail-value {
        font-size: 12px;
        font-weight: 500;
        margin-left: 5px;
      }
    }
    .loading {
      width: 150px;
    }

    @media (max-width: $lg) {
      margin-top: 16px;
    }
  }

  @media (max-width: $md) {
    height: 130px;
  }
}
