@import 'src/css/quasar.variables.scss';
@import 'src/css/utils.scss';

.icon {
  text-align: center;
  width: 170px;
  height: 78px;
  margin-left: 8px;
  z-index: 1000;
}

.iconbase {
  color: $astar-blue;
  width: 20px;
  height: 20px;
}

.icon-add {
  color: $astar-blue;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 1px;
}

.sidebar {
  position: relative;
  z-index: 100;
  width: 224px;
  padding-top: 24px;
  background: #081029;
  display: flex;
  flex-direction: column;
  border-right: solid 1px $navy-3;
}

.menu {
  position: relative;
  margin-top: rem(32);
  margin-left: 24px;
  flex-grow: 1;

  .row--item {
    flex: 1 1 0%;
    margin-left: rem(12);
  }
  .row--item-ecosystem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.link {
  display: flex;
  align-items: center;
  width: 176px;
  height: 38px;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 6px;
  color: #fff;
  position: relative;
  transition: all 0.3s ease 0s;
}

.link:hover {
  background: $navy-3;
}
.activeLink {
  color: #fff;
}
.activeLink:hover {
  background: transparent;
}

.wrapper--bottom {
  flex-shrink: 0;
  padding: rem(16);

  .wrapper--option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: rem(4.8);
  }
}

// Memo: set the animation indicator from the bottom of the menu
.menu__indicator {
  background: $navy-3;
  transition: all 0.3s ease 0s;
  border-radius: 6px;
  height: 38px;
  width: 176px;
}

.menu__assets {
  margin-top: -276px;
}

.menu__dashboard {
  margin-top: -230px;
}

.menu__staking {
  margin-top: -184px;
}

.menu__bridge {
  margin-top: -138px;
}

.dummy-row {
  height: 46px;
}

.link--disabled {
  text-align: left;
}

.body--dark {
  .menu__indicator {
    background: $navy-3;
  }
  .link {
    color: $gray-1;
  }
  .link:hover {
    background: $navy-3;
  }
  .activeLink:hover {
    background: transparent;
  }
}
