@import 'src/css/quasar.variables.scss';
@import 'src/css/utils.scss';

.header {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: 48px;
  background: $navy-2;
  position: relative;
  z-index: 1;
}

.tabs {
  display: flex;
  padding-left: 3px;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: $gray-4;
  padding: 10px;
}

.active-link {
  font-weight: 700;
  color: $gray-1;
}

.button--option {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-top: 4px;
  margin-right: rem(16);
  padding-left: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
  border-radius: 100%;
  padding: 4px;
  margin-top: 8px;
  margin-left: 8px;
  &:hover {
    transition: all 0.3s ease 0s;
    background-color: $astar-blue;
    .icon--dot {
      color: white;
    }
  }
}

.wrapper--bottom {
  flex-shrink: 0;
  padding: rem(16);
  background: $gray-1;
  color: $gray-4;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  border-top: 1px solid $border-separator-light;

  .wrapper--option {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: rem(28.8);
    padding-right: rem(28.8);
    padding-top: rem(4.8);

    background: rgba(44, 51, 53, 0.8);
    border-top: 1px solid $gray-5;
  }
}

.tabs {
  position: relative;
}

.tabs__indicator {
  position: absolute;
  height: 4px;
  top: 0;
  z-index: 0;
  background: $astar-blue;
  border-radius: 0px 0px 8px 8px;
  transition: all 0.5s ease 0s;
  width: 36px !important;
}

.tabs__dashboard {
  width: 96px;
  left: 38px;
}

.tabs__assets {
  width: 72px;
  left: 117px;
}

.tabs__staking {
  width: 74px;
  left: 190px;
}

.tabs_ecosystem {
  width: 84px;
  display: none;
  @media (min-width: $sm) {
    display: block;
    margin: 0;
  }
}

.icon--dot {
  width: 24px;
  height: 24px;
  color: $astar-blue;
}

.column--item {
  min-width: 53px;
  font-size: 14px;
  transition: all 0.2s ease 0s;
  &:hover {
    font-weight: 700;
    color: $gray-1;
    transition: all 0.2s ease 0s;
  }
}

.column--item--dashboard {
  min-width: 76px !important;
}
