@import 'src/css/quasar.variables.scss';

.dapp-filter-container {
  display: flex;
  gap: 8px;
}

.dapp-filter {
  padding: 8px 24px;
  background-color: $white;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.dapp-filter-selected {
  background-color: $navy-1;
  color: $white;
}