@import 'src/css/quasar.variables.scss';

.wrapper--dapps {
}

.container--dapps {
  flex: 1;
  height: 368px;

  .swiper--dapps {
    height: 368px;
    overflow: visible;
  }
}

.title {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 27px;
  margin-bottom: 8px;
}

.card--dapp {
  background-color: $white;
  border: 2px solid $white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
  overflow: hidden;
  height: 180px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);

  &:hover{
    border-color: $astar-blue;
  }
}

.card__top {
  display: flex;
  column-gap: 16px;
  padding: 16px 24px;
}

.icon--dapp {
  flex-shrink: none;
  img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 16px;
    overflow: hidden;
  }
}

.text--dapp {
  flex: 1;
}

.text--title {
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 4px 0;
  line-height: 1.25;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.text--description {
  color: $navy-4;
  font-size: 12px;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.card__bottom {
  background-color: $gray-1;
  display: flex;
  align-items: center;
  padding: 20px 24px;
  gap: 4px;
}

.box--dapp-card {
  padding: 4px 8px;
  border-radius: 4px;
  border: solid 1px $gray-2;
  font-size: 12px;
  font-weight: 600;
  color: $gray-3;
  display: flex;
  gap: 8px;
  align-items: center;
  height: 28px;
  span{
    white-space: nowrap;
    display: flex;
    align-items: center;
    .icon--stakers{
      width: 24px;
      height: 24px;
      margin-bottom: -10px;
    }
    .icon--astar-logo{
      width: 18px;
      height: 18px;
      margin-right: 4px;
    }
  }
}

.container--category {
  margin-bottom: 20px;

  @media (min-width: $lg) {
    margin-bottom: 40px;
  }
}

.title--category {
  color: $navy-1;
  font-size: 32px;
  font-weight: 800;
}

.body--dark {
  .text--title {
    color: $navy-1;
  }
}
