@import 'src/css/quasar.variables.scss';

.panel-wrapper {
  border-radius: 16px;
  background-color: $navy-1;
  padding: 16px;
  width: 100%;
}

.panel-title {
  color: $white;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px;
}

.swiper-stats {
  > .swiper-button-prev,
  > .swiper-button-next {
    margin: 0;
    margin-right: 6px;
    position: relative;
    width: 24px;
    height: 24px;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    &::after {
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
    }
  }
}

.wrapper-stats .swiper {
  overflow: hidden;
}

.dapp {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;

  > span:last-child {
    margin-left: auto;
  }

  div:first-child {
    width: 24px;
    text-align: right;
  }
}

.container-dapps {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
