@import 'src/css/quasar.variables.scss';

.wrapper--discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 34px;
  margin-bottom: 34px;
  row-gap: 40px;
}

.dapps {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 24px;
}
