@import 'src/css/quasar.variables.scss';

.wrapper--discover {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 34px auto;
  row-gap: 100px;
  max-width: 1300px;
  padding: 0 16px;
  @media (min-width: $lg) {
    padding: 0;
  }
}

.container--dapps-data{
  width: 100%;
}
