@import 'src/css/quasar.variables.scss';

.wrapper--owner {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  @media (min-width: $lg) {
    margin: 0 -40px;
  }
}

.container--owner-header,
.container--owner-main {
  width: 100%;
}

.container--owner-header {
  padding-top: 52px;
  padding-bottom: 40px;
  @media (min-width: $sm) {
    padding-bottom: 80px;
  }
}

.container--owner-main {
  padding-top: 40px;
  padding-bottom: 40px;
  background-repeat: repeat;
  @media (min-width: $sm) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.container--owner-header__inner,
.container--owner-main__inner {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: auto;
  padding-right: 16px;
  padding-left: 16px;
  @media (min-width: $lg) {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.container--owner-header__inner {
  gap: 16px;
}

.container--owner-main__inner {
  gap: 80px;
}

.row--your-dashboard {
  text-align: center;
  font-weight: 800;
  color: $navy-1;
  font-size: 16px;
  order: 2;
  @media (min-width: $lg) {
    text-align: left;
    order: 1;
  }
}

.row--dapp-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
  @media (min-width: $lg) {
    flex-direction: row;
    column-gap: 16px;
    order: 2;
  }
}

.img--dapp-icon {
  height: 48px;
  width: 48px;
  border-radius: 16px;
  object-fit: contain;
  @media (min-width: $lg) {
    height: 64px;
    width: 64px;
  }
}

.text--dapp-name {
  font-weight: 800;
  font-size: 32px;
  color: $navy-1;
  @media (min-width: $sm) {
    font-size: 40px;
  }
  @media (min-width: $lg) {
    font-size: 48px;
  }
}

.bg--owner {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  z-index: 0;
}

.body--dark {
  .wrapper--owner {
    color: $navy-1;
  }
}
