@import 'src/css/quasar.variables.scss';

.wrapper--owner {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  padding: 0px 16px;
  max-width: 1140px;
  @media (min-width: $lg) {
    margin-top: 100px;
    padding: 0;
  }
}

.container--dapp-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $lg) {
    flex-direction: row;
    column-gap: 16px;
    margin-bottom: 100px;
  }
}

.img--dapp-icon {
  height: 48px;
  width: 48px;
  border-radius: 16px;
  object-fit: contain;
  @media (min-width: $lg) {
    height: 64px;
    width: 64px;
  }
}

.text--dapp-name {
  font-weight: 800;
  font-size: 32px;
  color: $navy-1;
}

.row--your-dashboard {
  display: none;
  @media (min-width: $lg) {
    display: block;
    font-weight: 800;
    color: $navy-1;
    font-size: 16px;
    margin-bottom: 16px;
  }
}

.row--your-dashboard-mobile {
  font-weight: 800;
  font-size: 16px;
  color: $navy-1;
  margin-top: 16px;
  margin-bottom: 84px;
  @media (min-width: $lg) {
    display: none;
  }
}

.row--statistics {
  display: flex;
  justify-content: center;
  column-gap: 4px;
  margin-bottom: 80px;
  @media (min-width: $lg) {
    margin-bottom: 160px;
  }
}

.body--dark {
  .text--dapp-name,
  .row--your-dashboard,
  .row--your-dashboard-mobile {
    color: $gray-1;
  }
}
