@import 'src/css/quasar.variables.scss';

.container--back {
  color: $gray-4;
  display: flex;
  align-items: center;
  column-gap: 6px;
  font-weight: 500;
  padding-top: 16px;
  width: 140px;
  @media (min-width: $md) {
    margin-bottom: 16px;
  }
  @media (min-width: $lg) {
    padding-top: 0;
    margin-top: -10px;
  }
  &:hover {
    transition: all 0.3s ease 0s;
    color: $astar-blue;
  }
}

.icon--back {
  font-size: 18px;
}

.body--dark{
  .container--back {
    color: $gray-3;
  }
}
