@import 'src/css/quasar.variables.scss';

.balloon-right {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px;
  right: 70px;
  top: -40px;
  border-radius: 6px;
  background: $astar-blue;
  width: 100%;
  z-index: 1;
}

.balloon-right:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 99%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid $astar-blue;
}

.balloon-top {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px;
  top: 50px;
  border-radius: 6px;
  background: $astar-blue;
  width: calc(100vw - 30px);
  z-index: 1;
}

.balloon-top:before {
  content: '';
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid $astar-blue;
}

.balloon__title {
  display: flex;
  justify-content: space-between;
}

.icon--check-out {
  margin-top: 3px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  height: 18px;
  width: 18px;
}

.icon--check {
  margin-top: 3px;
  color: white;
  border-radius: 100%;
  height: 18px;
  width: 18px;
}

.icon--close {
  cursor: pointer;
  margin-top: -3px;
  color: white;
}

.balloon__title__mark {
  position: relative;
  display: flex;
  column-gap: 8px;
}

.text--ballon-title {
  font-weight: 600;
  font-size: 16px;
  color: $gray-1;
}

.text--ballon {
  font-weight: 500;
  font-size: 14px;
  color: $gray-1;
}

.balloon_text-box {
  text-align: left;
}

.row--text-title {
  padding-top: 2px;
}

// .body--dark {
//   .icon--close {
//     color: white;
//   }
// }
