@import 'src/css/quasar.variables.scss';

.wrapper--multisig-configure {
  display: flex;
  flex-direction: column;
  padding: 0 14px;
  padding-bottom: 36px;
  width: 100%;
  @media (min-width: $lg) {
    padding: 0;
    padding-bottom: 0px;
    max-width: 480px;
  }
}

.row--description {
  margin-bottom: 34px;
  padding: 0 16px;
  @media (min-width: $sm) {
    padding: 0;
  }
}

.row--addresses {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 24px;
  height: 292px;
  overflow-y: auto;
}

.row--address {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.row--results {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.button--confirm {
  font-size: 22px;
  font-weight: 600;
  height: 44px;
}

.input--address {
  background-color: transparent;
  border: 1px solid $gray-4;
  border-radius: 6px;
  padding: 12px;
  &:focus {
    outline: none;
    border: 1px solid $astar-blue;
  }
}

.input--error {
  border: 1px solid $warning-red;
}

.text--error-msg {
  color: $warning-red;
  font-size: 12px;
  height: 32px;
}

.body--dark {
}
