@import 'src/css/quasar.variables.scss';

.input--address {
  background-color: transparent;
  width: 100%;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $gray-4 !important;
  }
}

.body--dark {
  .box--input-field {
    background: transparent;
    border: 1px solid $gray-3;
  }
  .input--address {
    &::placeholder {
      color: $gray-4 !important;
    }
  }
}
