@import 'src/css/quasar.variables.scss';

.container--speed-configuration {
  display: grid;
  row-gap: 12px;
  padding: 9px 15px;
  border-radius: 6px;
  width: 320px;
  background: transparent;
  border: 1px solid $gray-3;
  border-radius: 6px;
  @media (min-width: $xs) {
    width: 344px;
  }
  @media (min-width: $md) {
    width: 400px;
  }
  @media (min-width: $xl) {
    width: 420px;
  }
}

.container--responsible {
  width: 100% !important;
}

.box__space-between {
  display: flex;
  justify-content: space-between;
}

.box__row {
  display: flex;
  column-gap: 4px;
  align-items: center;
  justify-content: space-between;
  margin-top: -8px;
}

.placeholder--height {
  height: 28px;
}

.column--gas-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 6px 0px;
  width: 100%;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
  text-align: center;
  &:hover {
    border: 2px solid $astar-blue;
    transition: all 0.3s ease 0s;
  }
}

.selected-gas-option {
  transition: all 0.3s ease 0s;
  border: 2px solid $astar-blue !important;
}

.text--gas-price {
  font-weight: 500;
  font-size: 12px;
  color: $gray-5;
}

.body--dark {
  .text--gas-price {
    color: $gray-1;
  }
  .container--speed-configuration {
    background: $gray-6;
    border: 1px solid $gray-4;
  }
}
