@import 'src/css/quasar.variables.scss';

.wrapper--dapp-statistics {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 36px;
  border-bottom: 1px solid $gray-2;
}

.column--statistics {
  background: $gray-1;
  width: 100%;
  padding: 8px 16px;
  border-radius: 6px;
  @media (min-width: $md) {
    background: transparent;
    display: flex;
    justify-content: space-evenly;
  }
}

.row--statistics {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  @media (min-width: $md) {
    flex-direction: column;
    align-items: center;
  }
}

.separator--statistics {
  border-bottom: 1px solid $gray-2;
  @media (min-width: $md) {
    border-right: 1px solid $gray-2;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.text--statistics-title {
  font-weight: 600;
  font-size: 14px;
  color: $gray-7;
}

.text--statistics-value {
  font-weight: 600;
  font-size: 16px;
  color: $gray-7;
}

.body--dark {
  .separator--statistics {
    border-bottom: 1px solid $navy-3;
    @media (min-width: $md) {
      border-right: 1px solid $navy-3;
    }
  }

  .column--statistics {
    background: $gray-7;
    @media (min-width: $md) {
      background: transparent;
    }
  }
  .text--statistics-title {
    color: $gray-3;
  }
  .text--statistics-value {
    color: $gray-1;
  }
  .wrapper--dapp-statistics {
    border-bottom: 1px solid $navy-3;
  }
}
