@import 'src/css/quasar.variables.scss';

.wrapper--dapp-avatar {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid $gray-2;
  @media (min-width: $lg) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.column--edit {
  display: none;
  @media (min-width: $lg) {
    display: block;
    align-self: flex-end;
  }
}

.column--avatar {
  display: flex;
  column-gap: 24px;
}

.image--dapp-icon {
  width: 120px;
  height: 120px;
  border-radius: 16px;
}

.row--dapp-title {
  margin-bottom: 4px;
}

.row--tags {
  display: flex;
  column-gap: 8px;
  margin-bottom: 24px;
}

.tag {
  background-color: $navy-3;
  border-radius: 6px;
  padding: 2px 8px;
}

.text--tag {
  font-weight: 500;
  font-size: 12px;
  color: #fff;
}

.row--stake {
  margin-bottom: auto;
}

.btn-size--stake {
  width: 88px;
  height: 32px;
}

.text--btn-stake {
  font-size: 16px;
  font-weight: 600;
}

.column--details {
  display: flex;
  flex-direction: column;
}

.body--dark {
  .tag {
    background-color: $navy-3;
  }
  .text--tag {
    color: $gray-3;
  }
  .wrapper--dapp-avatar {
    border-bottom: 1px solid $navy-3;
  }
}
