@import 'src/css/quasar.variables.scss';

.row--project-overview {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $gray-2;
  margin-bottom: 24px;
  @media (min-width: $sm) {
    flex-direction: row;
    column-gap: 16px;
  }
}

.bottom--links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 33px;
  margin-top: 33px;
  margin-bottom: 43px;

  @media (min-width: $lg) {
    margin-bottom: 0px;
  }

  .btn--stake-switch {
    font-size: 16px;
    font-weight: 600;
  }

  a {
    height: 28px;
  }
}

.container--dapp-staking {
  max-width: 1300px;
  margin: 0 auto;
}

.body--dark {
  .row--project-overview {
    border-bottom: 1px solid $gray-5;
  }
}
