@import 'src/css/quasar.variables.scss';

.wrapper--dapp-images {
  border-bottom: 1px solid $gray-5;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.box--carousel {
  height: 200px;
}

.dapp-image {
  border-radius: 6px;
}

.body--dark {
}
