@import 'src/css/quasar.variables.scss';

.wrapper--project-overview {
  border-bottom: 1px solid $gray-5;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.row--overview-title {
  margin-bottom: 24px;
}

.body--dark {
}
