@import 'src/css/quasar.variables.scss';

.wrapper--project-overview {
  border-bottom: 1px solid $gray-2;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid $gray-2;
  @media (min-width: $sm) {
    border-bottom: 0px solid transparent;
  }
}

.row--overview-title {
  margin-bottom: 24px;
}

.body--dark {
  .wrapper--project-overview {
    border-bottom: 1px solid $gray-5;
    @media (min-width: $sm) {
      border-bottom: 0px solid transparent;
    }
  }
}
