@import 'src/css/quasar.variables.scss';

.wrapper--project-details {
  padding-bottom: 24px;
  margin-bottom: 24px;
  min-width: 300px;
  @media (min-width: $sm) {
    min-width: 360px;
  }
  @media (min-width: $lg) {
    min-width: 380px;
  }
}

.box--details {
  background: $gray-1;
  width: 100%;
  padding: 8px 16px;
  border-radius: 6px;
}

.row--item {
  padding: 20px 0px;
}

.row--item-title {
  display: flex;
  column-gap: 12px;
  margin-bottom: 20px;
}

.row--tags {
  display: flex;
  column-gap: 8px;
}

.separator--details {
  border-bottom: 1px solid $gray-2;
}

.column--icon-arrows {
  display: flex;
}

.column--address {
  margin-right: 40px;
}

.icon--arrow-right {
  margin-left: -8px;
}

.row--websites {
  margin-left: 20px;
}

.row--address {
  display: flex;
}

.row--social-icons {
  display: flex;
  column-gap: 16px;
  margin-left: 4px;
}

.button--website {
  font-size: 16px;
  font-weight: 600;
  color: $astar-blue;
}

.row--tags {
  display: flex;
}

.tag {
  background-color: $gray-2;
  border-radius: 6px;
  padding: 2px 8px;
  width: fit-content;
  text-align: center;
}

.text--tag {
  font-weight: 600;
  font-size: 14px;
  color: $gray-4;
}

.icon {
  color: $gray-3;
  margin-top: -1px;
}

.icons {
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
  margin-top: -2px;
}

.box--share {
  display: flex;
  align-items: center;
  color: $astar-blue;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.btn--primary {
  transition: all 0.3s ease 0s;
  border-radius: 16px;
  .icon--primary {
    svg {
      height: 28px;
      width: 28px;
      stroke: $astar-blue;
    }
  }
  .icon--social {
    padding: 6px;
    padding-left: 7px;
    svg {
      height: 20px;
      width: 20px;
    }
  }
  &:hover {
    color: white;
    stroke: white;
    background-color: $astar-blue;
    .icon--primary {
      background-color: transparent;
      svg {
        stroke: white;
      }
    }
  }
}

.body--dark {
  .box--details {
    background: $container-bg-dark;
  }
  .tag {
    background-color: $navy-3;
  }
  .text--tag {
    color: $gray-1;
  }
  .separator--details {
    border-bottom: 1px solid $navy-1;
  }
  .icon {
    color: $gray-4;
  }
}
