@import 'src/css/quasar.variables.scss';

.wrapper--leaderboard {
  width: 100%;
  padding: 40px 8px 24px 8px;
  position: relative;
  background-color: $navy-1;
  background-size: 100% auto;
  background-position: top left;
  background-repeat: no-repeat;
  @media (min-width: $lg) {
    padding: 100px 40px 80px 40px;
  }
}

.wrapper--leaderboard__inner {
  margin: auto;
  max-width: $container-max-width;
  padding: 48px 16px;
  border-radius: 24px;
  border: 2px solid $navy-3;
  background: rgba($navy-1, 0.3);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  
  @media (min-width: $lg) {
    padding: 48px;
  }
}

.title {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.25;
  color: $white;

  span:first-child {
    border-right: solid 2px $white;
    padding-right: 16px;
    margin-right: 16px;
  }
}

.container--boards {
  overflow: hidden;
  padding-top: 24px;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: $md) {
    padding-top: 64px;
    margin-left: -48px;
    margin-right: -48px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

.swiper--leaderboard {
  overflow: visible;
}

.wrapper--tier .swiper {
  overflow: hidden;
}

.swiper-slide {
  height: auto;
}
