.vote-common-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 8px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.submit-button {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}