// Memo: app global css in SCSS form
// Memo: Following the BEM methodology
// Ref:  https://css-tricks.com/bem-101/

@use 'src/css/quasar.variables.scss';

span {
  font-family: 'SF Pro', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
}

.body--dark {
  .container {
    background: $container-bg-dark;
  }
}

.container {
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 0px 16px;
}

.screen--lg {
  display: none;
  @media (min-width: $lg) {
    display: block;
  }
}

.text--page-title {
  font-weight: 600;
  font-size: 26px;
}

.text--title {
  font-weight: 700;
  font-size: 16px;
}

.text--accent {
  font-weight: 700;
  font-size: 14px;
}

.text--md {
  font-size: 14px;
}

.border--separator {
  border: 1px solid #191d1f;
}
