// Memo: app global css in SCSS form
// Memo: Following the BEM methodology
// Ref:  https://css-tricks.com/bem-101/

@use 'src/css/quasar.variables.scss';
@use 'src/css/text.scss';

.body--dark {
  .container {
    background: $container-bg-dark;
    box-shadow: $container-border-shadow-dark;
  }
  .border--separator {
    border: 1px solid $border-separator-dark;
  }
}

.container {
  box-shadow: $container-border-shadow-light;
  background: $container-bg-white;
  border-radius: 6px;
  padding: 0px 16px;
}

.screen--lg {
  display: none;
  @media (min-width: $lg) {
    display: block;
  }
}

.border--separator {
  border: 1px solid $border-separator-light;
}
