@import 'src/css/quasar.variables.scss';

// Memo: Overwriting the astar-ui component

.header {
  .header-right {
    .btn--account {
      background: white !important;
      color: $gray-5 !important;
    }
  }
}

.modal {
  .modal-content {
    .title {
      margin-top: -22px;
    }
  }
}
