@import 'src/css/quasar.variables.scss';

// Memo: Overwriting the astar-ui component

.txt--status {
  color: $gray-1 !important;
  @media (min-width: $lg) {
    color: $navy-1 !important;
  }
}

.body--dark {
  .txt--status {
    color: $gray-1 !important;
  }
}
