@import 'src/css/quasar.variables.scss';

.container {
  box-shadow: $container-border-shadow-light;
  background: $container-bg-white;
  border-radius: 6px;
  padding: 8px 16px;
  @media (min-width: $md) {
    padding: 8px 24px;
  }
}

.box--input {
  display: grid;
  row-gap: 12px;
  padding: 9px 15px;
  border-radius: 6px;
  width: 320px;
  background: $container-bg-white;
  @media (min-width: $xs) {
    width: 344px;
  }
}

.box--hover--active {
  border: 1px solid transparent;
  transition: all 0.3s ease 0s;
  &:hover {
    border: 1px solid $astar-blue;
    transition: all 0.3s ease 0s;
  }
}

.box--tooltip-warning {
  background-color: $astar-blue;
  max-width: 320px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.body--dark {
  .container {
    background: $container-bg-dark;
    box-shadow: $container-border-shadow-dark;
  }
  .box--input {
    background: $gray-6;
  }
  .box--tooltip-warning {
    background-color: $astar-blue-dark;
  }
}
