@import 'src/css/quasar.variables.scss';

.container {
  box-shadow: $container-border-shadow-light;
  background: $container-bg-white;
  border-radius: 6px;
  padding: 8px 16px;
  @media (min-width: $md) {
    padding: 8px 24px;
  }
}

.box--input {
  display: grid;
  row-gap: 12px;
  padding: 9px 15px;
  border-radius: 6px;
  width: 330px;
  background: $container-bg-white;
  @media (min-width: $xs) {
    width: 344px;
  }
}

.box--hover--active {
  border: 1px solid transparent;
  transition: all 0.3s ease 0s;
  &:hover {
    border: 1px solid $astar-blue;
    transition: all 0.3s ease 0s;
  }
}

.body--dark {
  .container {
    background: $container-bg-dark;
    box-shadow: $container-border-shadow-dark;
  }
  .box--input {
    background: $gray-6;
  }
}
