@import 'src/css/quasar.variables.scss';

.btn {
  color: #ffffff;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.btn--confirm {
  width: 340px;
  background-color: $astar-blue;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  height: 52px;
  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      linear-gradient(0deg, #0085ff, #0085ff);
  }
}

.btn--sm {
  border-radius: 30px;
  font-weight: 700;
  width: 120px;
  height: 24px;
  padding-bottom: 1px;
  background-color: $astar-blue;
  @media (min-width: $md) {
    width: 100px;
    background-color: transparent;
    color: $astar-blue;
    transition: all 0.3s ease 0s;
    &:hover {
      transition: all 0.3s ease 0s;
      color: #ffffff;
      background-color: $astar-blue;
    }
  }
}

.body--dark {
  .btn--sm {
    background-color: $astar-blue;
    @media (min-width: $md) {
      background-color: transparent;
      color: $astar-blue-dark;
      &:hover {
        color: #ffffff;
        background-color: $astar-blue;
      }
    }
  }
}
