@import 'src/css/quasar.variables.scss';

.bg--astar {
  background-color: $astar-blue;
}

.bg--accent {
  background-color: $gray-1;
}

.color--warning {
  color: $warning-red !important;
}

.color--white {
  color: white;
}

.body--dark {
  .bg--accent {
    background-color: $gray-5;
  }
}
