@import 'src/css/quasar.variables.scss';

.icon--primary {
  stroke: $astar-blue-dark;
  font-size: 20px;
  transition: all 0.4s ease 0s;
  border-radius: 50%;
  &:hover {
    stroke: white;
    background-color: $astar-blue-dark;
  }
}

.body--dark {
}
