@import 'src/css/quasar.variables.scss';

.icon--primary {
  stroke: $astar-blue;
  font-size: 20px;
  transition: all 0.4s ease 0s;
  border-radius: 50%;
  &:hover {
    stroke: white;
    background-color: $astar-blue;
  }
}

.img--polkasafe {
  width: 24px;
  height: 24px;
}

.img--polkasafe-account {
  width: 24px;
  height: 24px;
}

.body--dark {
  .img--polkasafe {
    // Memo: #FFFFFF
    // Ref: https://codepen.io/sosuke/pen/Pjoqqp
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(153deg) brightness(101%) contrast(102%);
  }
}
