@import 'src/css/quasar.variables.scss';

.markdown {
  h1 {
    font-size: 2rem!important;
    font-weight: 500;
    line-height: 2rem!important;
    margin: 0 0 1rem;
    padding: 1rem 0;
  }

  h2 {
    font-size: 1.5rem!important;
    font-weight: 500;
    line-height: 1.5rem!important;
    margin: 1rem 0;
    padding: 0.5rem 0;
  }

  h3 {
    font-size: 1.1rem!important;
    line-height: 1.1rem!important;
    margin: 1rem 0;
    padding: 0.45rem 0;
  }

  ol, ul {
    margin-left: 16px;
    padding: auto;
  }

  ol {
    list-style: auto;
  }

  ul {
    list-style: disc;
  }

  code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
  }

  a {
    text-decoration: underline;
    color: $astar-blue;
  }
}
