$gray-1: #f7f7f8;
$gray-3: #b1b7c1;
$gray-4: #5f656f;
$gray-5: #2c3335;
$gray-5-selected: #3c4649;
$gray-5-selected-dark: #222829;
$gray-6: #191d1f;

$object-light: #e6e9ee;

$astar-blue: #0085ff;
$astar-blue-dark: #05b6fd;
$shiden-purple: #770cff;
$shiden-purple-dark: #a67cff;
$warning-red: #ff5621;
$warning-yellow: #f2c94c;
$connected-green: #56f566;

$blue: rgb(33, 89, 254);

$body-bg-dark: #000000;
$body-bg-light: #ffffff;
$container-bg-dark: $gray-5-selected-dark;
$container-bg-white: #ffffff;
$item--bg--hover-dark: $gray-5-selected-dark;
$border-separator-dark: $gray-6;
$border-separator-light: $object-light;
$backdrop-transparent-dark: rgba(44, 51, 53, 0.5);
$backdrop-transparent-dark-firefox: rgba(44, 51, 53, 0.9);
$backdrop-transparent-light: rgba(44, 51, 53, 0.2);
$backdrop-transparent-light-firefox: rgba(44, 51, 53, 0.8);

$container-border-shadow-dark: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
$container-border-shadow-light: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);

$xs: 375px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;

$container-max-width: 1100px;
