// Color
$astar-blue: #0085ff;
$astar-blue-dark: #05b6fd;
$shiden-purple: #770cff;
$shiden-purple-dark: #a67cff;
$warning-red: #ff5621;
$connected-green: #56f566;

$container-bg-dark: #2c3335;
$border-separator-black: #191d1f;

$gray: #f7f7f8;

// Screen size
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
