@import 'src/css/quasar.variables.scss';

span {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.text--page-title {
  font-weight: 600;
  font-size: 26px;
  color: $navy-1;
}

.text--xl {
  font-weight: 600;
  font-size: 22px;
  color: $navy-1;
}

.text--title {
  font-weight: 700;
  font-size: 16px;
  color: $navy-1;
}

.text-color--neon {
  color: $neon-blue;
}

.text-color--disabled {
  color: $gray-4 !important;
}

.text--xlg {
  font-weight: 400;
  font-size: 22px;
  color: $navy-1;
  line-height: 26px;
}

.text--lg {
  font-weight: 400;
  font-size: 16px;
  color: $navy-1;
}

.text--md {
  font-weight: 400;
  font-size: 14px;
  color: $navy-1;
}

.text--accent {
  font-weight: 700;
  font-size: 14px;
  color: $navy-1;
}

.text--label {
  font-weight: 400;
  font-size: 14px;
  color: $gray-4;
}

.text--label-small {
  font-weight: 400;
  font-size: 12px;
  color: $gray-4;
}

.text--tooltip {
  font-weight: 400;
  font-size: 12px;
  color: $gray-1;
}

.text--filter {
  font-weight: 400;
  font-size: 12px;
  color: $gray-4;
}

.text--error {
  font-weight: 400;
  font-size: 16px;
  color: $warning-red;
}

.text--color {
  color: $navy-1;
}

.input--no-spin::-webkit-inner-spin-button,
.input--no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::placeholder {
  color: $navy-3 !important;
}

.body--dark {
  input::placeholder {
    color: $gray-4 !important;
  }
  .text--page-title,
  .text--title,
  .text--accent,
  .text--xlg,
  .text--lg,
  .text--md,
  .text--color,
  .text--xl {
    color: $gray-1;
  }
  .text-color--neon {
    color: $astar-blue-dark;
  }
  .text--label,
  .text--label-small {
    color: $gray-3;
  }
  .text-color--disabled {
    color: $gray-4 !important;
  }
}
