@import 'src/css/quasar.variables.scss';

span {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.text--page-title {
  font-weight: 600;
  font-size: 26px;
  color: $gray-5;
}

.text--title {
  font-weight: 700;
  font-size: 16px;
  color: $gray-5;
}

.text--lg {
  font-weight: 400;
  font-size: 16px;
  color: $gray-5;
}

.text--md {
  font-weight: 400;
  font-size: 14px;
  color: $gray-5;
}

.text--accent {
  font-weight: 700;
  font-size: 14px;
  color: $gray-5;
}

.text--label {
  font-weight: 400;
  font-size: 14px;
  color: $gray-3;
}

.text--tooltip {
  font-weight: 400;
  font-size: 14px;
  color: $gray-1;
}

.input--no-spin::-webkit-inner-spin-button,
.input--no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.body--dark {
  .text--page-title,
  .text--title,
  .text--accent,
  .text--lg,
  .text--md {
    color: $gray-1;
  }
}
