@import 'src/css/quasar.variables.scss';

.row--details-signatory {
  padding: 16px 14px;
  background-color: $body-bg-light;
}

.column-account-name {
  display: flex;
  column-gap: 8px;
  @media (min-width: $md) {
    flex-direction: row;
    align-items: center;
  }
}

.container--lockdrop-warning {
  background: $warning-yellow;
  border-radius: 6px;
  padding: 16px 24px;
}

.text--warning-bold {
  color: $navy-1;
  font-weight: 700;
}

.row--warning-list {
  padding-left: 24px;
  padding-top: 4px;
}

.text--warning {
  color: $navy-1;
  list-style-type: initial;
}

.body--dark {
  .row--details-signatory {
    background-color: $body-bg-dark;
  }
}

.wrapper--account {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media (min-width: $sm) {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
  }
}
.body--dark {
  .wrapper--account {
    @media (min-width: $sm) {
      background: rgba(8, 15, 46, 0.3);
    }
  }
}
.row--account-info {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  @media (min-width: $sm) {
    flex-direction: row;
  }
}
.column--account-icon {
  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 9999px;
  }
}

.text--title {
  @media (min-width: $sm) {
    font-size: 16px;
    font-weight: 700;
  }
}
.text--balance {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  @media (min-width: $sm) {
    text-align: left;
  }
  span {
    font-size: 16px;
    font-weight: 600;
  }
}
.row--actions {
  display: flex;
  gap: 16px;
  justify-content: center;
  @media (min-width: $sm) {
    justify-content: flex-start;
  }
}
.btn--icon {
  display: flex;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  color: white;
  margin: auto;
  background-color: $astar-blue;
  @media (min-width: $sm) {
    background-color: transparent;
    color: $astar-blue;
  }
  svg {
    width: 22px;
    height: 22px;
    @media (min-width: $sm) {
      width: 24px;
      height: 24px;
    }
  }
  &:hover {
    color: white;
    background-color: $astar-blue;
  }
  .icon--copy {
    width: 30px;
    height: 30px;
    stroke: white;
    @media (min-width: $sm) {
      stroke: $astar-blue;
      width: 34px;
      height: 34px;
    }
  }
  .icon--external-link {
    width: 30px;
    height: 30px;
    stroke: white;
    @media (min-width: $sm) {
      stroke: $astar-blue;
      width: 36px;
      height: 36px;
    }
  }
  &:hover {
    color: white;
    .icon--copy,
    .icon--external-link {
      stroke: white;
    }
  }
}
.body--dark {
  .btn--icon {
    color: white;
    .icon--copy,
    .icon--external-link {
      stroke: white;
    }
  }
}
