@import 'src/css/quasar.variables.scss';

.row--search-option {
  display: flex;
  column-gap: 4px;
  align-items: center;
  @media (min-width: $xl) {
    margin-right: 20px;
    column-gap: 12px;
  }
}

.box--search {
  position: relative;
  border-radius: 6px;
  background-color: $gray-1;
  width: 150px;
  height: 30px;
  border: 1px solid transparent;
  padding: 2px 6px;
  border-radius: 6px;
}

.table--search {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.tr--search {
  display: flex;
  align-items: center;
}

.input--search {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0 4px;
  font-weight: 500;
  font-size: 14px;
  background-color: $gray-1;
  transition: all 0.5s ease 0s;
  &:focus {
    transition: all 0.5s ease 0s;
    outline: none;
  }
}

.icon--search {
  stroke: $gray-3;
  font-size: 20px;
  transition: all 0.4s ease 0s;
  color: transparent;
}

.search--active {
  .box--search {
    transition: all 0.5s ease 0s;
    border: 1px solid $astar-blue;
  }
  .icon--search {
    transition: all 0.4s ease 0s;
    stroke: $astar-blue;
  }
}

.body--dark {
  .box--search {
    background-color: $navy-1;
    border: 1px solid $gray-5-selected-dark;
  }

  .input--search {
    background-color: $navy-1;
  }

  .icon--search {
    stroke: $gray-5;
  }

  .search--active {
    .box--search {
      border: 1px solid $astar-blue;
    }
    .icon--search {
      stroke: $astar-blue;
    }
  }
}
