@import 'src/css/quasar.variables.scss';

.wrapper--assets {
  @apply tw-px-3 lg:tw-px-10 tw-pt-6 lg:tw-pt-32 tw-relative;
  background-color: $gray-1;
  @media (min-width: $lg) {
    // padding-top: 16px;
  }
  @media (min-width: $xl) {
    display: flex;
    justify-content: center;
  }
  @media (min-width: $lg) {
    margin: -60px -40px;
  }
}
.body--dark {
  .wrapper--assets {
    background-color: $navy-1;
  }
}

.container--assets {
  @apply tw-relative tw-z-10;
  display: grid;
  row-gap: 32px;
  margin-bottom: 24px;
  @media (min-width: $xl) {
    width: 100%;
    max-width: $container-max-width;
  }
}

.container--account {
  padding: 0 16px;
  @media (min-width: $lg) {
    padding: 0;
  }
}

.title--account {
  margin-bottom: 10px;
}

.separator--top {
  margin-top: 20px;
  margin-bottom: 20px;
  @media (min-width: $lg) {
    display: none;
  }
}

.separator {
  border-bottom: 1px solid;
  border-image: linear-gradient(
    90deg,
    #e6007a -4%,
    #e6007a -3.88%,
    #703ac2 17.01%,
    #0070eb 42.25%,
    #0297fb 73.9%,
    #0ae2ff 97.42%
  );
  border-image-slice: 1;
  margin-bottom: 20px;
}

.row--links {
  padding-left: 16px;
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
  @media (min-width: $lg) {
    padding: 0;
  }
  @media (min-width: $xxxl) {
    display: none;
  }
}

.column--links {
  display: none;
  @media (min-width: $xl) {
    display: block;
  }
}

.title--assets {
  padding: 0 16px;
  @media (min-width: $lg) {
    padding: 0;
  }
}
.container--asset-list {
  padding: 0 16px;
  @media (min-width: $lg) {
    padding: 0;
  }
}

.asset-container {
  @apply tw-border-2 sm:tw-border tw-rounded-2xl tw-shadow sm:tw-px-4 tw-py-4 tw-overflow-hidden;
  background-color: white;
  &.asset-container--native {
    border-color: $astar-pink;
  }
  &.asset-container--others {
    border-color: $astar-purple;
  }
}

.body--dark {
  .asset-container {
    background-color: $navy-2;
    border-color: darken($astar-pink, 25%);
    &.asset-container--native {
      border-color: darken($astar-pink, 25%);
    }
    &.asset-container--others {
      border-color: darken($astar-purple, 25%);
    }
  }
}

.assets-bg {
  @apply tw-absolute tw-z-0 tw-left-0 tw-right-0 tw-top-0 tw-overflow-hidden;
  z-index: 0;
  height: 372px;
  background: linear-gradient(
    120deg,
    #e6007a -5.77%,
    #703ac2 13.57%,
    #0070eb 34.18%,
    #0297fb 58.08%,
    #0ae2ff 74.93%
  );
  &::before {
    background: linear-gradient(180deg, rgba(8, 16, 41, 0) 30%, $gray-1);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
  }
  .astar-stars {
    @apply tw-mix-blend-screen tw-absolute tw-left-0 tw-top-0;
  }
}

.body--dark {
  .assets-bg {
    &::before {
      background: linear-gradient(180deg, rgba(8, 16, 41, 0) 30%, $navy-1);
    }
  }
}
