@import 'src/css/quasar.variables.scss';

.box--no-result {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  padding: 16px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rows {
  display: grid;
}

.row--details {
  display: flex;
  justify-content: space-between;
  @media (min-width: $md) {
    align-items: center;
  }
}

.row__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 16px;
  @media (min-width: $md) {
    display: grid;
    grid-template-columns: 290px 102px auto;
  }
  @media (min-width: $lg) {
    grid-template-columns: 280px 112px auto;
  }
  @media (min-width: $xl) {
    grid-template-columns: 300px 252px auto;
  }
  @media (min-width: $xxl) {
    grid-template-columns: 400px 252px auto;
  }
}

.column__box {
  display: flex;
  flex-direction: column;
  @media (min-width: $md) {
    min-width: 180px;
    white-space: nowrap;
    text-align: right;
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $md) {
    row-gap: 10px;
    justify-self: center;
  }
}

.column--currency {
  display: flex;
  column-gap: 8px;
  padding-top: 10px;
  align-items: center;
  @media (min-width: $md) {
    padding-top: 0;
  }
}

.column--ticker {
  grid-template-columns: 54px auto;
  column-gap: 4px;
  align-items: center;
  display: grid;
  width: 100px;
  @media (min-width: $sm) {
    column-gap: 12px;
    width: auto;
    grid-template-columns: 60px auto;
  }
}

.column--asset-buttons {
  display: grid;
  align-items: center;
  row-gap: 14px;
  @media (min-width: $md) {
    row-gap: 8px;
    justify-self: end;
  }
  @media (min-width: $xl) {
    justify-self: center;
  }
}

.adjuster--width {
  @media (min-width: $xl) {
    width: 70px !important;
  }
}

.column__icons {
  display: flex;
  column-gap: 16px;
  justify-content: flex-end;
}

.icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.btn--icon {
  position: relative;
  margin-bottom: 4px;
}

.icon--plus {
  position: absolute;
  font-size: 24px;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding-bottom: 3px;
}

.button--import-token {
  margin-bottom: 12px;
  display: flex;
  column-gap: 8px;
  align-items: center;
  padding: 0px 12px;
  padding-bottom: 2px;
  cursor: pointer;
  border-radius: 6px;
  &:hover {
    transition: all 0.3s ease 0s;
    background-color: white;
  }
}

.icon--add {
  color: $astar-blue;
  font-size: 24px;
  font-weight: bold;
}

.text--value {
  font-weight: 400;
  font-size: 14px;
  color: $navy-1;
}

.token-logo {
  width: 24px;
  height: 24px;
  img {
    border-radius: 50%;
  }
}

.box--explorer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container--explorer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: $astar-blue;
  transition: all 0.3s ease 0s;
  border-radius: 30px;
  width: 100px;
  height: 24px;
  svg {
    height: 30px;
    width: 30px;
  }
  &:hover {
    stroke: white;
    background-color: $astar-blue;
  }
}

.row--menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row--transferable,
.row--evm-deposit {
  display: flex;
  flex-direction: column;
}

.row--icon--expand-phone {
  position: relative;
  display: flex;
  justify-content: center;
  @media (min-width: $md) {
    display: none;
  }
}

.row--icon--expand {
  display: none;
  @media (min-width: $md) {
    display: flex;
    justify-content: center;
  }
}

.icon--expand {
  color: $astar-blue;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 26px;
    height: 26px;
  }
  &:hover {
    color: white;
    background-color: $astar-blue;
  }
}

.column--transferable-bal {
  display: flex;
  column-gap: 4px;
  justify-content: flex-end;
}

.expand-container {
  overflow: hidden;
  width: 100%;
}

.balloon-native-token {
  width: 242px;
}

.border--margin {
  margin: 16px 0;
}

#asset-expand {
  overflow: hidden;
  margin-top: -100%;
  transition: all 0.3s;
}

#asset-expand-close {
  overflow: hidden;
  margin-top: -200%;
  transition: all 1s;
}

#asset-expand.asset-expanded {
  margin-top: 0;
}

#asset-expand-close.asset-expanded {
  margin-top: 0;
}

.body--dark {
  .text--value {
    color: $gray-1;
  }
  .container--explorer-icon {
    stroke: $astar-blue;
    &:hover {
      stroke: white;
    }
  }
  .button--import-token:hover {
    background-color: $gray-5;
  }
}

.separator {
  margin: 8px 16px;
  background-color: $gray-2;
  height: 1px;
}
.body--dark {
  .separator {
    background-color: $navy-3;
  }
}

.row--header {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: $lg) {
    padding: 16px;
  }
  .row--header__left {
    width: 50%;
  }
  .row--header__right {
    width: 50%;
  }
}

.column--token-name {
  display: flex;
  align-items: center;
  gap: 8px;
  @media (min-width: $sm) {
    gap: 16px;
  }
  img {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
  }
  .text--title {
    font-weight: 600;
    @media (min-width: $lg) {
      font-size: 14px;
    }
  }
}

.rows {
  margin-bottom: 1px;
}

.row {
  padding: 16px;
  display: flex;
  align-items: center;
  @media (min-width: $sm) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.row--transferable,
.row--evm-deposit {
  flex-direction: row;
  &.row--transferable-evm {
    @media (min-width: $sm) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

.row--transferable,
.row--evm-deposit {
  .row__info {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    flex-direction: row;
    justify-content: space-between;
    @media (min-width: $sm) {
      width: 50%;
      cursor: default;
    }
  }
  .row__actions {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding-top: 32px;
    @media (min-width: $sm) {
      width: 50%;
      justify-content: flex-end;
      padding-top: 0;
    }
    .text--mobile-menu {
      font-size: 12px;
      color: $gray-3;
      font-weight: 500;
      display: block;
      text-align: center;
      margin-top: 10px;
      @media (min-width: $sm) {
        display: none;
      }
    }
  }
}

.column--label {
  width: 50%;
}
.column--amount {
  width: 70%;
  text-align: right;
}
.column--symbol {
  width: 30%;
  text-align: left;
}

.text--label {
  font-weight: 600;
  color: $navy-1;
  font-size: 16px;
  @media (min-width: $lg) {
    font-size: 14px;
  }
}
.row--expand {
  .text--label {
    font-size: 14px;
  }
}
.body--dark {
  .text--label {
    color: white;
  }
}
.row--transferable,
.row--evm-deposit {
  .column--balance {
    width: 50%;
  }
  .text--label,
  .text--amount,
  .text--symbol {
    font-size: 14px;
  }
}

.column--balance {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
  width: 100%;
  color: $navy-1;
  @media (min-width: $sm) {
    width: 50%;
  }
}
.body--dark {
  .column--balance {
    color: white;
  }
}
.row--header .column--balance {
  @media (min-width: $sm) {
    width: 100%;
  }
  .column--amount,
  .column--symbol {
    @media (min-width: $sm) {
      width: auto;
    }
  }
}

.row--expand {
  .column--balance {
    gap: 4px;
    width: 50%;
    position: relative;
    @media (min-width: $sm) {
      gap: 8px;
    }
  }
}

.text--amount {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  @media (min-width: $lg) {
    font-size: 14px;
  }
}
.text--symbol {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  @media (min-width: $lg) {
    font-size: 14px;
  }
}
.row--expand {
  .text--amount {
    font-size: 14px;
    font-weight: 600;
  }
  .text--symbol {
    font-size: 14px;
  }
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.btn--icon {
  display: flex;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: $astar-blue;
  margin: auto;
  @media (min-width: $sm) {
    background-color: transparent;
    color: $astar-blue;
    margin: auto;
    svg {
      width: 20px;
      height: 20px;
    }
    &:hover {
      color: white;
      background-color: $astar-blue;
    }
  }
  svg {
    width: 20px;
    height: 20px;
    @media (min-width: $sm) {
      width: 24px;
      height: 24px;
    }
  }
}

.row--locked-tokens {
  margin-bottom: 16px;
}

.row--locked-tokens,
.row--evm-deposit {
  background-color: $gray-1;
  @media (min-width: $sm) {
    border-radius: 16px;
  }
}
.body--dark {
  .row--locked-tokens,
  .row--evm-deposit {
    background-color: $navy-3;
  }
}

.row--vesting-note {
  white-space: nowrap;
  position: absolute;
  top: 30px;
  width: 50%;
  color: $gray-3;
}

.row--locked-tokens,
.row--evm-deposit {
  padding: 0;
  display: block;
  .row--inner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    .row__info {
      display: block;
      @media (min-width: $sm) {
        width: 50%;
        display: flex;
        align-items: center;
      }
      .column--label {
        font-size: 14px;
        width: 100%;
        padding: 12px 0;
        @media (min-width: $sm) {
          width: 50%;
        }
      }
      .column--balance {
        justify-content: left;
        padding: 12px 0;
        @media (min-width: $sm) {
          width: 50%;
          justify-content: flex-end;
        }

        .column--amount {
          font-size: 14px;
          text-align: left;
          width: auto;
          @media (min-width: $sm) {
            width: 70%;
            text-align: right;
          }
        }
        .column--symbol {
          font-size: 14px;
          width: auto;
          @media (min-width: $sm) {
            width: 30%;
          }
        }
      }
    }
    .row__actions {
      padding-bottom: 4px;
      align-self: flex-end;
      width: auto;
      @media (min-width: $sm) {
        padding: 0;
        align-self: center;
      }
      .icon--expand {
        width: 32px;
        height: 32px;
        @media (min-width: $sm) {
          width: 40px;
          height: 40px;
        }
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  .expand-container {
    @media (min-width: $sm) {
      padding: 0 16px;
    }
    .asset-collapsed {
      padding-bottom: 8px;
      @media (min-width: $sm) {
        padding-bottom: 16px;
      }
    }
    .rows--expand {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .row--expand {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        background-color: white;
        @media (min-width: $sm) {
          border-radius: 12px;
        }
      }
      .row--expand__info {
        @media (min-width: $sm) {
          width: 50%;
          display: flex;
          align-items: center;
        }
        .column--label {
          padding: 12px 0;
          @media (min-width: $sm) {
            width: 50%;
          }
        }
        .column--balance {
          width: auto;
          justify-content: left;
          padding: 12px 0;
          @media (min-width: $sm) {
            width: 50%;
            justify-content: flex-end;
          }
          .column--amount {
            width: auto;
            text-align: left;
            @media (min-width: $sm) {
              width: 70%;
              text-align: right;
            }
          }
          .column--symbol {
            width: auto;
            @media (min-width: $sm) {
              width: 30%;
            }
          }
        }
      }
      .row--expand__action {
        align-self: flex-end;
        padding-bottom: 6px;
        @media (min-width: $sm) {
          padding: 0;
          align-self: center;
        }
        .btn--sm {
          font-weight: 600;
        }
      }
    }
  }
}

.body--dark {
  .row--locked-tokens .expand-container .rows--expand .row--expand {
    background-color: $navy-1;
  }
}

.row--evm-deposit {
  margin-bottom: 8px;
}
