@import 'src/css/quasar.variables.scss';

.row--search-option {
  display: flex;
  column-gap: 4px;
  align-items: center;
  @media (min-width: $sm) {
    column-gap: 16px;
  }
}

.input--search {
  border: solid 1px $navy-3;
  border-radius: 9999px;
  padding: 8px 16px;
  background-color: transparent;
  &::placeholder {
    opacity: 0.5;
  }
  &:focus {
    outline: none;
    border-color: $astar-blue;
  }
}
.body--dark{
  .input--search {
    &::placeholder {
      opacity: 1;
    }
  }
}
