@import 'src/css/quasar.variables.scss';

.wrapper--asset-options {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.box--options {
  position: absolute;
  top: 42px;
  width: 240px;
  padding: 8px;
  background-color: $gray-1;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  border-radius: 6px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
  z-index: 999;
}

.row--option {
  display: grid;
  grid-template-columns: 24px auto;
  align-items: center;
  column-gap: 8px;
  width: auto;
  padding: 0px 6px;
  align-items: center;
  height: 40px;
  cursor: pointer;
  border-radius: 6px;
}

.row--option:hover {
  transition: all 0.3s ease 0s;
  background-color: white;
}

.text--option {
  font-weight: 500;
  font-size: 14px;
  color: $navy-1;
  text-align: left;
}

.icon--plus {
  font-size: 24px;
  font-weight: 500;
  color: $astar-blue;
}

.icon-hide {
  color: $astar-blue;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon--dot {
  width: 24px;
  height: 24px;
  color: $astar-blue;
}

.column--icon-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  .icon--dot {
    width: 22px;
    height: 22px;
  }
  &:hover {
    transition: all 0.3s ease 0s;
    background-color: $astar-blue;
    .icon--dot {
      color: white;
    }
  }
}

.body--dark {
  .box--options {
    background-color: $navy-1;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.8));
  }
  .text--option {
    color: $gray-1;
  }
  .row--option:hover {
    background-color: rgba(255, 255, 255, 0.02);
  }
  .icon--plus {
    color: $astar-blue;
  }
  .icon-hide {
    color: $astar-blue;
  }
  .icon-vert {
    color: $astar-blue;
  }
}
