@import 'src/css/quasar.variables.scss';

.row {
  &:hover {
    @media (min-width: $sm) {
      background-color: $gray-1;
    }
  }
  display: flex;
  align-items: center;
  padding: 16px;
  @media (min-width: $sm) {
    padding: 22px 16px;
  }
}
.body--dark {
  .row {
    &:hover {
      @media (min-width: $sm) {
        background-color: $navy-3;
      }
    }
  }
}

.row--is-expand {
  background-color: $gray-1;
  @media (min-width: $sm) {
    background-color: white;
  }
}
.body--dark {
  .row--is-expand {
    background-color: $navy-3;
    @media (min-width: $sm) {
      background-color: $navy-2;
    }
  }
}

.row__left {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  @media (min-width: $sm) {
    width: 50%;
    pointer-events: none;
  }
}

.row__right {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 16px 0 0 0;
  @media (min-width: $sm) {
    width: 50%;
    justify-content: flex-end;
    padding: 0;
    gap: 8px;
  }
  @media (min-width: $md) {
    gap: 16px;
  }
}

.column--token {
  width: 50%;
  display: flex;
  align-items: center;
  .text--title {
    font-size: 14px;
  }
  .text--label {
    font-size: 12px;
  }
}

.column--balance {
  width: 50%;
  .column--balance__row {
    display: flex;
    gap: 8px;
    &.text--title {
      font-size: 14px;
    }
    &.text--label {
      font-size: 12px;
    }
  }
  .column--amount {
    width: 70%;
    text-align: right;
  }
  .column--symbol {
    width: 30%;
    text-align: left;
  }
}

.column--three-buttons {
  @media (min-width: $xl) {
    display: grid;
    width: 340px;
    grid-template-columns: 100px 70px 70px;
    justify-content: end;
    column-gap: 8px;
    margin-right: 80px;
  }
}

.container--explorer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: $astar-blue;
  transition: all 0.3s ease 0s;
  border-radius: 30px;
  width: 100px;
  height: 24px;
  svg {
    height: 30px;
    width: 30px;
  }
  &:hover {
    stroke: white;
    background-color: $astar-blue;
  }
}

.btn--delete {
  margin-top: 4px;
}

.icon--delete {
  margin-top: 1px;
}

.adjuster--width {
  @media (min-width: $xl) {
    width: 70px !important;
  }
}

.box--explorer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon--token {
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 8px;
  @media (min-width: $sm) {
    margin-right: 16px;
  }
}

.body--dark {
  .container--explorer-icon {
    stroke: $astar-blue;
    &:hover {
      stroke: white;
    }
  }
}

.text--title {
  font-weight: 600;
  font-size: 16px;
}
.text--label {
  color: $gray-3;
  font-weight: 500;
}

.btn--icon {
  display: flex;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  color: $astar-blue;
  margin: auto;
  svg {
    width: 20px;
    height: 20px;
  }
  &:hover {
    color: white;
    background-color: $astar-blue;
  }
  .icon--bridge {
    width: 24px;
    height: 24px;
  }
  .icon--external-link {
    width: 32px;
    height: 32px;
    stroke-width: 1px;
    stroke: $astar-blue;
  }
  .icon--plus {
    width: 24px;
    height: 24px;
    stroke-width: 1px;
    stroke: $astar-blue;
  }
  .icon--favorite {
    &.on {
      color: $astar-blue;
    }
    &.off {
      color: $gray-3;
    }
  }
  &:hover {
    color: white;
    .icon--external-link,
    .icon--plus {
      stroke: white;
    }
    .icon--favorite {
      &.on,
      &.off {
        color: white;
      }
    }
  }
}

.text--expand-menu {
  font-size: 12px;
  color: $gray-3;
  font-weight: 500;
  display: block;
  text-align: center;
  @media (min-width: $sm) {
    display: none;
  }
}
