@import 'src/css/quasar.variables.scss';

.wrapper--assets {
  position: relative;
  padding-top: 36px;
  @media (min-width: $lg) {
    padding-top: 16px;
  }
  @media (min-width: $xxl) {
    display: flex;
    justify-content: center;
  }
}

.container--assets {
  display: grid;
  row-gap: 32px;
  margin-bottom: 24px;
  @media (min-width: $xxl) {
    width: 100%;
    max-width: $container-max-width;
  }
}

.separator {
  margin-bottom: 24px;
  border-bottom: 1px solid $border-separator-light;
}

.body--dark {
  .separator {
    border-bottom: 1px solid;
    border-image: linear-gradient(
      90deg,
      #e6007a -4%,
      #e6007a -3.88%,
      #703ac2 17.01%,
      #0070eb 42.25%,
      #0297fb 73.9%,
      #0ae2ff 97.42%
    );
    border-image-slice: 1;
  }
}
