@import 'src/css/quasar.variables.scss';

.wrapper--assets {
  @apply tw-px-3 sm:tw-px-6 tw-pt-6 lg:tw-pt-32;
  position: relative;
  @media (min-width: $lg) {
    // padding-top: 16px;
  }
  @media (min-width: $xxxl) {
    display: flex;
    justify-content: center;
  }
  @media (min-width: $lg) {
    margin: -60px -40px;
    // margin-top: -12px;
  }
}

.container--assets {
  display: grid;
  row-gap: 32px;
  margin-bottom: 24px;
  @media (min-width: $xxxl) {
    width: 100%;
    max-width: $container-max-width;
  }
}

.container--account {
  padding: 0 16px;
  @media (min-width: $lg) {
    padding: 0;
  }
}

.title--account {
  margin-bottom: 10px;
}

.separator--top {
  margin-top: 20px;
  margin-bottom: 20px;
  @media (min-width: $lg) {
    display: none;
  }
}

.separator {
  border-bottom: 1px solid;
  border-image: linear-gradient(
    90deg,
    #e6007a -4%,
    #e6007a -3.88%,
    #703ac2 17.01%,
    #0070eb 42.25%,
    #0297fb 73.9%,
    #0ae2ff 97.42%
  );
  border-image-slice: 1;
  margin-bottom: 20px;
}

.row--links {
  padding-left: 16px;
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
  @media (min-width: $lg) {
    padding: 0;
  }
  @media (min-width: $xxxl) {
    display: none;
  }
}

.column--links {
  display: none;
  @media (min-width: $xxxl) {
    display: block;
  }
}

.title--assets {
  padding: 0 16px;
  @media (min-width: $lg) {
    padding: 0;
  }
}
.container--asset-list {
  padding: 0 16px;
  @media (min-width: $lg) {
    padding: 0;
  }
}

.asset-container{
  @apply tw-border-2 sm:tw-border tw-rounded-2xl tw-shadow sm:tw-px-4 tw-py-4 tw-overflow-hidden;
  background-color: white;
  &.asset-container--native{
    border-color: $astar-pink;
  }
  &.asset-container--others{
    border-color: $astar-purple;
  }
}

.body--dark {
  .asset-container{
    background-color: $navy-2;
    border-color: darken($astar-pink,25%);
    &.asset-container--native{
      border-color: darken($astar-pink,25%);
    }
    &.asset-container--others{
      border-color: darken($astar-purple,25%);
    }
  }
}

.assets-bg{
  @apply tw-absolute tw-z-0 tw-left-0 tw-right-0 tw-top-0;
  z-index: -1;
  .astar-gradient{
    width: 100%;
    height: 372px;
  }
}
