@import 'src/css/quasar.variables.scss';

.row {
  &:hover {
    background-color: $gray-1;
  }
  @apply xl:tw-flex xl:tw-items-center tw-px-4 tw-py-3 sm:tw-py-5;
  &.is-expand {
    background-color: $gray-1;
    @media (min-width: $xl) {
      background-color: white;
    }
  }
}

.row__left {
  @apply tw-flex tw-items-center xl:tw-w-1/2 xl:tw-pointer-events-none tw-w-full;
}

.row__right {
  @apply tw-hidden xl:tw-flex xl:tw-justify-end xl:tw-w-1/2 xl:tw-space-x-4;
}

.column--currency {
  @apply tw-w-1/2 tw-flex tw-space-x-4 tw-items-center;
}

.column--balance {
  @apply tw-w-1/2 tw-text-right;
}

.column--three-buttons {
  @media (min-width: $xl) {
    display: grid;
    width: 340px;
    grid-template-columns: 100px 70px 70px;
    justify-content: end;
    column-gap: 8px;
    margin-right: 80px;
  }
}

.container--explorer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: $astar-blue;
  transition: all 0.3s ease 0s;
  border-radius: 30px;
  width: 100px;
  height: 24px;
  svg {
    height: 30px;
    width: 30px;
  }
  &:hover {
    stroke: white;
    background-color: $astar-blue;
  }
}

.btn--delete {
  margin-top: 4px;
}

.icon--delete {
  margin-top: 1px;
}

.adjuster--width {
  @media (min-width: $xl) {
    width: 70px !important;
  }
}

.box--explorer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.token-logo {
  @apply tw-w-8 tw-h-8 tw-rounded-full tw-overflow-hidden tw-flex-shrink-0;
}

.body--dark {
  .container--explorer-icon {
    stroke: $astar-blue;
    &:hover {
      stroke: white;
    }
  }
}

// added
.text--title {
  @apply tw-font-semibold tw-text-base;
}
.text--label {
  @apply tw-text-sm tw-font-medium;
  color: $gray-3;
}
.row__expand {
  @apply tw-w-full;
  .row__expand-inner {
    @apply tw-flex xl:tw-hidden tw-w-full tw-pt-6;
  }
  .text-buttons {
    @apply tw-ml-auto tw-flex tw-space-x-2;
    .btn.btn--sm,
    a {
      @apply tw-w-24 tw-flex tw-items-center tw-justify-center;
    }
  }
  .icon-buttons {
    @apply tw-flex tw-space-x-1;
  }
}

.icon-button {
  @apply tw-w-10 tw-h-10 tw-flex tw-justify-center tw-items-center tw-rounded-full hover:tw-text-white;
  color: $astar-blue;
  svg {
    @apply tw-stroke-current tw-w-6 tw-h-6;
  }
  &:hover {
    @apply tw-text-white;
    background-color: $astar-blue;
  }
  @media (max-width: $sm) {
    @apply tw-bg-transparent;
    color: $astar-blue;
  }
  &.icon-external-link {
    svg {
      @apply tw-w-8 tw-h-8;
    }
  }
  &.icon-favorite {
    &.off {
      svg {
        @apply tw-stroke-current;
        stroke-width: 1.5px;
      }
    }
    &.on {
      svg {
        @apply tw-fill-current;
      }
    }
  }
  &.icon-plus {
    @apply tw-text-3xl tw-leading-none;
  }
}
