@import 'src/css/quasar.variables.scss';

.box--no-result {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  padding: 16px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rows {
  display: grid;
}

.row--bg--extend {
  margin: 0 -16px;
  padding: 16px 29px;
  margin-bottom: 16px;
  @media (min-width: $md) {
    margin: 0 -6px;
    padding: 16px 14px;
    padding-left: 20px;
    margin-bottom: 16px;
    border-radius: 6px;
  }
  @media (min-width: $xl) {
    margin: 0;
    padding-left: 14px;
    padding-right: 8px;
    margin-bottom: 16px;
  }
}

.row--details {
  display: flex;
  justify-content: space-between;
  @media (min-width: $md) {
    align-items: center;
  }
}

.row--details-native {
  display: flex;
  justify-content: space-between;
  @media (min-width: $md) {
    align-items: center;
  }
  @media (min-width: $lg) {
    padding-right: 32px;
  }
}

.row__left--native {
  max-width: 140px;

  @media (min-width: $lg) {
    max-width: 300px;
  }
}

.row__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 16px;
  @media (min-width: $md) {
    display: grid;
    grid-template-columns: 290px 102px auto;
  }
  @media (min-width: $lg) {
    grid-template-columns: 280px 112px auto;
  }
  @media (min-width: $xl) {
    grid-template-columns: 300px 252px auto;
  }
  @media (min-width: $xxl) {
    grid-template-columns: 400px 252px auto;
  }
}

.row__right-collapse {
  @media (min-width: $md) {
    grid-template-columns: 290px 140px;
  }
  @media (min-width: $lg) {
    grid-template-columns: 280px 150px;
  }
  @media (min-width: $xl) {
    grid-template-columns: 300px 284px;
  }
  @media (min-width: $xxl) {
    grid-template-columns: 400px 284px;
  }
}

.row__right--evm {
  @media (min-width: $md) {
    display: grid;
    grid-template-columns: 260px 120px;
  }
  @media (min-width: $lg) {
    grid-template-columns: 200px 160px;
  }
  @media (min-width: $xl) {
    grid-template-columns: 220px auto;
  }
  @media (min-width: $xxl) {
    grid-template-columns: 340px auto;
  }
}

.column__box {
  display: flex;
  flex-direction: column;
  @media (min-width: $md) {
    min-width: 180px;
    white-space: nowrap;
    text-align: right;
  }
}

.column__box-native {
  display: flex;
  flex-direction: column;
  text-align: right;
  @media (min-width: $md) {
    min-width: 240px;
    white-space: nowrap;
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $md) {
    row-gap: 10px;
    justify-self: center;
  }
}

.column--currency {
  display: flex;
  column-gap: 8px;
  padding-top: 10px;
  align-items: center;
  @media (min-width: $md) {
    padding-top: 0;
  }
}

.column--ticker {
  grid-template-columns: 54px auto;
  column-gap: 4px;
  align-items: center;
  display: grid;
  width: 100px;
  @media (min-width: $sm) {
    column-gap: 12px;
    width: auto;
    grid-template-columns: 60px auto;
  }
}

.column--ticker--native {
  grid-template-columns: 54px auto;
  column-gap: 4px;
  align-items: center;
  display: grid;
  @media (min-width: $sm) {
    column-gap: 12px;
    grid-template-columns: 50px auto;
  }
  @media (min-width: $lg) {
    grid-template-columns: 60px auto;
  }
}

.column--balance {
  display: grid;
  justify-items: center;
  row-gap: 8px;
  min-width: 120px;
  @media (min-width: $xl) {
    justify-self: start;
  }
}

.column--asset-buttons {
  display: grid;
  align-items: center;
  row-gap: 14px;
  @media (min-width: $md) {
    row-gap: 8px;
    justify-self: end;
  }
  @media (min-width: $xl) {
    justify-self: center;
    // padding-right: 12px;
  }
}

.column--buttons--native-token {
  @media (min-width: $xl) {
    display: flex !important;
    padding-right: 0px !important;
    justify-content: space-evenly;
    width: 400px;
    padding-left: 30px;
  }
}

.column--buttons--multi {
  @media (min-width: $xl) {
    display: grid;
    width: 400px;
    grid-template-columns: 100px 100px 70px 70px;
    justify-content: end;
    column-gap: 24px;
  }
  @media (min-width: $xxl) {
    column-gap: 48px;
  }
}

.adjuster--width {
  @media (min-width: $xl) {
    width: 70px !important;
  }
}

.column--buttons {
  display: grid;
  row-gap: 14px;
  align-items: center;
  @media (min-width: $md) {
    row-gap: 8px;
    justify-self: end;
  }
  @media (min-width: $xl) {
    width: 210px;
    justify-items: center;
  }
}

.column__icons {
  display: flex;
  column-gap: 16px;
  justify-content: flex-end;
}

.icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.btn--icon {
  position: relative;
  margin-bottom: 4px;
}

.icon--plus {
  position: absolute;
  font-size: 24px;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding-bottom: 3px;
}

.button--import-token {
  margin-bottom: 12px;
  display: flex;
  column-gap: 8px;
  align-items: center;
  padding: 0px 12px;
  padding-bottom: 2px;
  cursor: pointer;
  border-radius: 6px;
  &:hover {
    transition: all 0.3s ease 0s;
    background-color: white;
  }
}

.icon--add {
  color: $astar-blue-dark;
  font-size: 24px;
  font-weight: bold;
}

.text--value {
  font-weight: 400;
  font-size: 14px;
  color: $gray-5;
}

.row--staking {
  padding-top: 1px;
  @media (min-width: $md) {
    padding-top: 0;
  }
}

.color--astar {
  @media (min-width: $md) {
    color: $astar-blue-dark;
  }
}

.token-logo {
  width: 24px;
  height: 24px;
  img {
    border-radius: 50%;
  }
}

.box--explorer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container--explorer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: $astar-blue;
  transition: all 0.3s ease 0s;
  border-radius: 30px;
  width: 100px;
  height: 24px;
  svg {
    height: 30px;
    width: 30px;
  }
  &:hover {
    stroke: white;
    background-color: $astar-blue;
  }
}

.btn--delete {
  margin-top: 4px;
}

.icon--delete {
  margin-top: 1px;
}

.row--menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
}

.row--transferable {
  display: flex;
  flex-direction: column;
}

.row--icon--expand-phone {
  position: relative;
  display: flex;
  justify-content: center;
  @media (min-width: $md) {
    display: none;
  }
}

.row--icon--expand {
  display: none;
  @media (min-width: $md) {
    display: flex;
    justify-content: center;
  }
}

.column--expand {
  position: relative;
}

.icon--expand {
  color: $astar-blue-dark;
  width: 32px;
  height: 32px;
  cursor: pointer;

  transition: all 0.4s ease 0s;
  border-radius: 100%;
  &:hover {
    color: white;
    background-color: $astar-blue-dark;
  }
}

.icon--collapse {
  transform: rotate(180deg);
}

.column--transferable-bal {
  display: flex;
  column-gap: 4px;
  justify-content: flex-end;
}

.expand-container {
  overflow: hidden;
}

.balloon-native-token {
  width: 242px;
}

.border--margin {
  margin: 16px 0;
}

#asset-expand {
  overflow: hidden;
  margin-top: -100%;
  transition: all 0.3s;
}

#asset-expand-close {
  overflow: hidden;
  margin-top: -200%;
  transition: all 1s;
}

#asset-expand.asset-expanded {
  margin-top: 0;
}

#asset-expand-close.asset-expanded {
  margin-top: 0;
}

.body--dark {
  .text--value {
    color: $gray-1;
  }
  .container--explorer-icon {
    stroke: $astar-blue-dark;
    &:hover {
      stroke: white;
    }
  }
  .button--import-token:hover {
    background-color: $gray-5;
  }
}
