@import 'src/css/quasar.variables.scss';

.wrapper--assets {
  padding: 24px 10px 0 10px;
  position: relative;
  @media (min-width: $lg) {
    margin: -60px -40px;
  }
}

.container--assets {
  width: 100%;
  max-width: $container-max-width;
  margin: auto;
  @media (min-width: $xl) {
    display: flex;
    justify-content: center;
  }
}

.column--main {
  flex: 1;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.title--account {
  margin-bottom: 24px;
}

.column--links {
  display: none;
  @media (min-width: $xl) {
    display: block;
  }
}

.container {
  overflow: hidden;
  border-radius: 30px;
  padding: 16px 0 24px 0;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
  background-color: white;
  @media (min-width: $sm) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.body--dark {
  .container {
    background-color: $navy-4;
  }
}
