@import 'src/css/quasar.variables.scss';

.row--search-option {
  display: flex;
  column-gap: 4px;
  align-items: center;
  @media (min-width: $sm) {
    column-gap: 8px;
  }
}

.input--search {
  border: solid 1px transparent;
  border-radius: 9999px;
  padding: 8px 16px;
  background-color: $gray-1;
  transition: border .2s ease;
  width: 100%;
  &::placeholder {
    opacity: 0.5;
  }
  &:focus,
  &:hover {
    outline: none;
    border-color: $astar-blue;
  }
}
.body--dark {
  .input--search {
    background-color: $navy-3;
    &::placeholder {
      opacity: 1;
    }
  }
}
