@import 'src/css/quasar.variables.scss';

.wrapper__row--button {
  display: flex;
  justify-content: center;
}

.wrapper--withdraw {
  padding-top: 56px;
  text-align: center;
  row-gap: 40px;
}

.box--withdraw-amount {
  display: grid;
  padding: 16px 0;
  border-radius: 6px;
  width: 344px;
  text-align: center;
  background: $gray-1;
  @media (min-width: $md) {
    width: 100%;
  }
}

.box__column-amount {
  display: grid;
  row-gap: 16px;
}

.confirm-button {
  width: 344px;
  font-size: 22px;
  font-weight: 600;
  height: 44px;
  align-self: center;
  @media (min-width: $md) {
    width: 400px;
  }
}

.body--dark {
  .box--withdraw-amount {
    background: $gray-7;
  }
}
