@import 'src/css/quasar.variables.scss';

.rows {
  display: grid;
  row-gap: 16px;
  margin-bottom: 24px;
  position: relative;
}

.row--mode-tab {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 24px;
}

.box--bridge-option {
  padding-bottom: 8px;
  width: 140px;
}

.selected-bridge-option {
  border-bottom: 3px solid $blue;
  transition: all 0.3s ease 0s;
}

.unselected-bridge-option {
  cursor: pointer;
  border-bottom: 0px solid transparent;
  transition: all 0.3s ease 0s;
}

.box__space-between {
  display: flex;
  justify-content: space-between;
}

.box__available {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.box__row {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.box__column--input-amount {
  justify-self: flex-end;
  width: 100%;
  display: grid;
}

.column--title {
  display: flex;
  align-items: center;
  position: relative;
}

// Memo: `list-style-type` is not working
.text--dot {
  left: -28px;
  position: absolute;
  font-size: 32px;
  font-weight: 700;
}

.icon--help {
  font-size: 20px;
  margin-bottom: -12px;
}

.container--warning {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin-bottom: 24px;
  border: 1px solid $warning-red;
  padding: 8px 0;
  padding-left: 26px;
  padding-right: 14px;
  border-radius: 6px;
  background: white;
}

.row--warning {
  display: flex;
  align-items: normal;
  column-gap: 6px;
  color: $warning-red;
}

.loader {
  position: absolute;
  z-index: 100;
  height: 100px;
  width: 100px;
}

.btn--max {
  border: 1px solid $astar-blue-dark;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
  border-radius: 4px;
  padding: 2px 10px;
  color: $astar-blue-dark;
  font-weight: 500;
  font-size: 11px;
  transition: all 0.3s ease 0s;
  &:hover {
    transition: all 0.3s ease 0s;
    background-color: $astar-blue-dark;
    color: white;
  }
}

.input--amount {
  width: 180px;
  font-size: 22px;
  outline: none;
  background: transparent;
  text-align: right;
  font-weight: 600;
  color: $gray-5;
  justify-self: flex-end;
}

.box--input-chain {
  display: grid;
  row-gap: 8px;
  padding: 9px 15px;
  border-radius: 6px;
  width: 320px;
  background: $container-bg-white;
  @media (min-width: $xs) {
    width: 344px;
  }
}

.text--available {
  color: $astar-blue-dark;
  font-weight: 400;
  font-size: 12px;
}

.text--warning {
  font-weight: 700;
  font-size: 14px;
  color: $warning-red;
}

.body--dark {
  input {
    color: white;
  }
  .box--input-chain {
    background: $gray-6;
  }
  .selected-bridge-option {
    border-bottom: 3px solid $astar-blue-dark;
  }
  .container--warning {
    background: $gray-5;
  }
}
