@import 'src/css/quasar.variables.scss';

.wrapper__row--button {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.wrapper--faucet {
  padding-top: 56px;
  text-align: center;
}

.wrapper__row--title {
  margin-bottom: 18px;
}

.wrapper__row--information {
  padding: 0 24px;
  margin-bottom: 24px;
}

.box--faucet-amount {
  display: grid;
  padding: 16px 0;
  border-radius: 6px;
  width: 344px;
  text-align: center;
  background: $gray-1;
  margin-bottom: 24px;
}

.box__column-amount {
  display: grid;
  row-gap: 16px;
}

.box--faucet--next-available {
  display: grid;
  row-gap: 16px;
}

.button--confirm {
  width: 344px;
  font-size: 22px;
  font-weight: 600;
  height: 44px;
}

.row--faucet-balance {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
  width: 344px;
}

.row--box-error {
  padding: 10px 20px;
  border-radius: 6px;
  width: 344px;
  margin-bottom: 6px;
  border: 1px solid $warning-red;
  background: $box-red;
  text-align: left;
  margin-top: 32px;
}

.body--dark {
  .box--faucet-amount {
    background: $gray-7;
  }
  .row--box-error {
    background: $box-red-dark;
  }
}
