@import 'src/css/quasar.variables.scss';

.rows {
  display: grid;
  row-gap: 16px;
  margin-bottom: 40px;
  position: relative;
}

.rows__row--error {
  position: absolute;
  bottom: -30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.box--warning {
  display: grid;
  row-gap: 12px;
  padding: 20px 16px;
  border-radius: 6px;
  width: 344px;
  background: transparent;
  margin-bottom: 24px;
  margin-top: -14px;
  border: 1px solid $warning-red;
}

.box--warning--checked {
  background: $warning-red;
}

.box__row {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.box__space-between {
  display: flex;
  justify-content: space-between;
}

.box__available {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.wrapper__row--button {
  display: flex;
  justify-content: center;
}

.box__column--input-amount {
  justify-self: flex-end;
  width: 100%;
  display: grid;
}

.column--wallet-address {
  display: flex;
  column-gap: 12px;
  align-items: center;
}

.column--wallet-name {
  max-width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text--to--balance {
  font-weight: 400;
  font-size: 12px;
  color: $gray-3;
}

.text--available {
  color: $astar-blue-dark;
  font-weight: 400;
  font-size: 12px;
}

.btn--max {
  border: 1px solid $astar-blue-dark;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
  border-radius: 4px;
  padding: 2px 10px;
  color: $astar-blue-dark;
  font-weight: 500;
  font-size: 11px;
}

.input--amount {
  width: 180px;
  font-size: 22px;
  outline: none;
  background: transparent;
  text-align: right;
  font-weight: 600;
  color: $gray-5;
  justify-self: flex-end;
}

.input--checkbox {
  display: flex;
  column-gap: 8px;
}

.input--checkbox input[type='checkbox'] {
  display: none;
  width: 20px;
}

.input--checkbox input[type='checkbox'] + label {
  display: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 32px;
}

.input--checkbox input[type='checkbox'] + label::before {
  content: '';
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  left: 0;
  top: 50%;
  border: 2px solid;
  border-color: $warning-red;
  background-color: transparent;
  border-radius: 4px;
}

.input--checkbox--checked input[type='checkbox'] + label::before {
  border-color: white !important;
}

.input--checkbox input[type='checkbox']:checked + label::after {
  content: '';
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 14px;
  height: 7px;
  margin-top: -5px;
  top: 50%;
  left: 3px;
  transform: rotate(-45deg);
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color: white;
}

.body--dark {
  input {
    color: $gray-3;
  }
}
