@import 'src/css/quasar.variables.scss';

.wrapper__row--button {
  display: flex;
  justify-content: center;
}

.wrapper--vesting {
  padding-top: 56px;
  text-align: center;
}

.container--vestings {
  display: grid;
  row-gap: 16px;
  margin-bottom: 40px;
}

.box--vesting-info {
  display: grid;
  padding: 16px;
  border-radius: 6px;
  width: 344px;
  text-align: center;
  background: transparent;
  border: 1px solid $gray-3;
}

.box__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.box__row--per-block {
  margin-top: 8px;
}

.box--unlock-amount {
  display: grid;
  padding: 16px 0;
  border-radius: 6px;
  width: 344px;
  text-align: center;
  background: $container-bg-white;
  margin-bottom: 40px;
}

.box__column-amount {
  display: grid;
  row-gap: 16px;
}

.body--dark {
  .box--unlock-amount {
    background: $gray-6;
  }
}
