@import 'src/css/quasar.variables.scss';

.row {
  padding: 16px 8px;
}

.rows {
  display: grid;
}

.row--bg--extend {
  margin: 0 -16px;
  padding: 16px 24px;
  margin-bottom: 16px;
  @media (min-width: $md) {
    margin: 0 -6px;
    padding: 16px 14px;
    margin-bottom: 16px;
    border-radius: 6px;
  }
}

.row--details {
  display: flex;
  justify-content: space-between;
  @media (min-width: $md) {
    align-items: center;
  }
}

.row--bg--accent {
  background: $gray-5-selected;
}

.row__left {
  max-width: 160px;
}

.row__right {
  display: flex;
  flex-direction: column;
  @media (min-width: $md) {
    flex-direction: row !important;
    justify-content: space-between;
  }
}

.column--value-btn {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 16px;
  @media (min-width: $md) {
    column-gap: 12px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $md) {
    row-gap: 10px;
  }
}

.column--currency {
  display: flex;
  column-gap: 8px;
  padding-top: 20px;
  @media (min-width: $md) {
    padding-top: 0;
  }
}

.column--ticker {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.column--balance {
  display: grid;
  justify-items: center;
  row-gap: 8px;
  padding-top: 6px;
  @media (min-width: $md) {
    padding-top: 0;
  }
}

.column--buttons {
  display: grid;
  row-gap: 14px;
  @media (min-width: $md) {
    row-gap: 8px;
  }
}

.column__icons {
  display: flex;
  column-gap: 16px;
  justify-content: flex-end;
}

.icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.text--value {
  font-weight: 400;
  font-size: 16px;
  color: $gray-5;
  @media (min-width: $md) {
    font-size: 14px;
  }
}

.row--staking {
  padding-top: 1px;
  @media (min-width: $md) {
    padding-top: 0;
  }
}

.color--astar {
  @media (min-width: $md) {
    color: $astar-blue;
  }
}

.body--dark {
  .text--value {
    color: $gray-1;
  }
  .color--astar {
    @media (min-width: $md) {
      color: $astar-blue-dark;
    }
  }
}
