@import 'src/css/quasar.variables.scss';

.row {
  padding: 16px 8px;
}

.rows {
  display: grid;
  row-gap: 16px;
}

.row--bg--extend {
  margin: 0 -16px;
  padding: 16px 24px;
}

.row--details {
  display: flex;
  justify-content: space-between;
  @media (min-width: $md) {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

.row--bg--accent {
  background: $gray-5-selected;
}

.row__left {
  max-width: 160px;
}

.row__right {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  @media (min-width: $md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column--currency {
  display: flex;
  column-gap: 8px;
  padding-top: 20px;
  @media (min-width: $md) {
    padding-top: 0;
  }
}

.column--ticker {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.column--balance {
  display: grid;
  justify-items: center;
  row-gap: 8px;
  padding-top: 6px;
  @media (min-width: $md) {
    padding-top: 0;
  }
}
.column--buttons {
  display: grid;
  row-gap: 14px;
  @media (min-width: $md) {
    row-gap: 8px;
  }
}

.column__icons {
  display: flex;
  column-gap: 16px;
  justify-content: flex-end;
}

.icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.text--value {
  font-weight: 400;
  font-size: 16px;
  color: $gray-5;
  @media (min-width: $md) {
    font-size: 14px;
  }
}

.row--staking {
  padding-top: 1px;
  @media (min-width: $md) {
    padding-top: 0;
  }
}

.body--dark {
  .text--value {
    color: $gray-1;
  }
}
