@import 'src/css/quasar.variables.scss';

.wrapper--your-project {
  padding: 8px 16px;
  @media (min-width: $lg) {
    padding: 16px;
  }
}

.box--dapps {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;

  @media (min-width: $md) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 32px;
  }
  @media (min-width: $xxl) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.text--title {
  font-weight: 600;
  @media (min-width: $lg) {
    font-size: 14px;
  }
}

.row--title {
  display: flex;
  align-items: center;
  gap: 16px;
  svg {
    width: 32px;
    height: 32px;
    color: $navy-4;
  }
}

.card--dapp {
  cursor: pointer;
  background-color: $gray-1;
  border-radius: 16px;
  column-gap: 10px;
  display: flex;
  align-items: center;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: $navy-1;
  line-height: 1.25;
  transition: all 0.2s ease;
  &:hover{
    background-color: $gray-2;
  }
}

.icon--dapp-logo {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  object-fit: contain;
}

.separator {
  background-color: $gray-2;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.body--dark {
  .card--dapp {
    background-color: $navy-3;
    color: $gray-1;
    &:hover{
      background-color: lighten($navy-3,5%);
    }
  }
  .separator {
    background-color: $navy-3;
  }
}
