@import 'src/css/quasar.variables.scss';

.wrapper--your-project {
  padding: 8px 16px;
  @media (min-width: $lg) {
    padding: 16px;
  }
}

.box--dapps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @media (min-width: $sm) {
  }
  @media (min-width: $md) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.text--title {
  font-weight: 600;
  @media (min-width: $lg) {
    font-size: 14px;
  }
}

.row--title {
}

.container {
  border: solid 1px $gray-2;
  background-color: white;
  box-shadow: none;
  border-radius: 16px;
  padding: 16px 0 24px 0;
  @media (min-width: $sm) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.card--dapp {
  cursor: pointer;
  width: 182px;
  background-color: $gray-1;
  border-radius: 16px;
  column-gap: 16px;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 16px;
}

.icon--dapp-logo {
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

.separator {
  background-color: $gray-2;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.body--dark {
  .container {
    background-color: $navy-1;
    border-color: $navy-3;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.8);
  }
  .card--dapp {
    background-color: $navy-3;
  }
  .separator {
    background-color: $navy-3;
  }
}
