@import 'src/css/quasar.variables.scss';

.liquid-wrapper {
  padding-top: 64px;
  padding-bottom: 80px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  margin-bottom: 50px;
  border-radius: .5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-clip: border-box;
  @media (max-width: $md) {
    padding-top: 32px;
    padding-bottom: 38px;
  }
}

.text--title {
  max-width: 1100px;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin-left: 64px;
  margin-right: 64px;
  @media (max-width: $md) {
    margin-left: 24px;
    margin-right: 24px;
    font-size: 24px;
    line-height: 32px;
  }
}

.text--run-by {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  margin-left: 64px;
  margin-bottom: 36px;
  display: inline-flex;
  align-items: center;

  img {
    margin-left: 8px;
  }

  @media (max-width: $md) {
    margin-top: 12px;
    margin-left: 24px;
    margin-bottom: 24px;
  }
}

.wrapper--feature {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) -7.41%, rgba(16, 4, 4, 0.7) 45.98%);
  padding: 12px 64px;

  @media (max-width: $md) {
    padding: 12px 24px;
  }
}

.text--subtitle {
  color: #faae38;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  display: inline-flex;
  margin-top: 12px;
  align-items: center;

  img {
    margin-right: 16px;

    @media (max-width: $md) {
      width: 30px;
      height: 30px;
    }
  }

  @media (max-width: $md) {
    font-size: 14px;
    line-height: 18px;
  }
}

.text--desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 12px;
  color: #fff;

  @media (max-width: $md) {
    font-size: 14px;
    line-height: 24px;
  }
}

.row--warn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: $gray-3;
  background: linear-gradient(270deg, rgba(16, 4, 4, 0) 4.77%, rgba(16, 4, 4, 0.8) 65.26%);
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 16px 64px;

  &:hover {
    text-decoration: underline;
    text-decoration-color: $warning-yellow;
  }

  ul {
    list-style-type: disc;
  }
  li {
    margin-left: 25px;

    .li--row {
      display: inline-flex;
      align-items: center;  
    }
  }
  .icon-external {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: -8px;
    stroke: $warning-yellow;
  }

  @media (max-width: $md) {
    font-size: 13px;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 16px;
  }
}

.text--final {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin-left: 64px;
  margin-right: 64px;
  @media (max-width: $md) {
    margin-left: 24px;
    margin-right: 24px;
    font-size: 16px;
  }
}

.btn--launch {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 0px;
  width: 315px;
  height: 52px;
  background: #faae38;
  border-radius: 30px;
  color: $gray-6;
  font-weight: 600;
  font-size: 20px;
  margin-top: 32px;
  margin-left: 64px;

  .icon-external {
    stroke: $gray-6;
    margin-left: 28px;
    margin-right: 28px;
    cursor: pointer;
  }

  @media (max-width: $md) {
    width: 182px;
    height: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin: 0 auto;
    margin-top: 28px;
    padding: 0px;

    .icon-external {
      margin: 6px;
    }
  }
}