@import 'src/css/quasar.variables.scss';

.liquid-wrapper {
  padding-top: 64px;
  padding-bottom: 80px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  margin-bottom: 50px;
}

.text--title {
  max-width: 1100px;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin-left: 64px;
  @media (max-width: $md) {
    margin-left: 32px;
  }
}

.text--run-by {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  margin-left: 64px;
  margin-bottom: 36px;
  display: inline-flex;
  align-items: center;
  @media (max-width: $md) {
    margin-left: 32px;
  }

  img {
    margin-left: 8px;
  }
}

.wrapper--feature {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) -7.41%, rgba(16, 4, 4, 0.7) 45.98%);
  padding: 12px 64px;
}

.text--subtitle {
  color: #faae38;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  display: inline-flex;
  margin-top: 12px;

  img {
    margin-right: 16px;

    @media (max-width: $md) {
      width: 30px;
      height: 30px;
    }
  }
}

.text--desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 12px;
  color: #fff;
}

.icon-external {
  stroke: $gray-6;
  margin-left: 28px;
  margin-right: 28px;
  cursor: pointer;
}

.row--warn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: $gray-3;
  background: linear-gradient(270deg, rgba(16, 4, 4, 0) 4.77%, rgba(16, 4, 4, 0.8) 65.26%);
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 16px 64px;

  ul {
    list-style-type: disc;
  }
  li {
    margin-left: 25px;
  }
  .icon-external {
    display: inline-flex;
    position: relative;
    top: 10px;
    stroke: $gray-3;
    margin-left: 2px;
    margin-right: 0px;
  }
}

.text--final {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin-left: 64px;
  @media (max-width: $md) {
    margin-left: 32px;
  }
}

.btn--launch {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 0px;
  width: 315px;
  height: 52px;
  background: #faae38;
  border-radius: 30px;
  color: $gray-6;
  font-weight: 600;
  font-size: 20px;
  margin-top: 32px;
  margin-left: 64px;
  @media (max-width: $md) {
    margin-left: 32px;
  }
}