@import 'src/css/quasar.variables.scss';

.rows {
  display: grid;
  row-gap: 16px;
  margin-bottom: 8px;
}

.btn-size-adjust {
  @media (min-width: $xs) {
    width: 344px;
  }
  @media (min-width: $md) {
    width: 400px;
  }
  @media (min-width: $xl) {
    width: 420px;
  }
}

.box__space-between {
  display: flex;
  justify-content: space-between;
}

.box--input-field {
  display: grid;
  row-gap: 12px;
  padding: 9px 15px;
  border-radius: 6px;
  width: 320px;
  background: transparent;
  cursor: pointer;

  border: 1px solid $gray-3;
  @media (min-width: $xs) {
    width: 344px;
  }
  @media (min-width: $md) {
    width: 400px;
  }
  @media (min-width: $xl) {
    width: 420px;
  }
}

.box--inner {
  display: grid;
  row-gap: 12px;
  padding: 9px 15px;
  border-radius: 6px;

  transition: all 0.3s ease 0s;
}

.box--yellow {
  background: rgba(240, 185, 11, 0.2);
  border: 1px solid #F0B90B !important;
}

.box--pink {
  background: rgba(255, 86, 33, 0.2);
  border: 1px solid #FF5621;
}

.body--dark {
  .box--input-field {
    background: $gray-6;
    border: 1px solid $gray-4;
  }
  input {
    color: white;
  }

  .text--connect-rpc {
    color: $astar-blue;
  }
  .row--box-error {
    background: $box-red-dark;
  }
  .box--warning--checked {
    background: $box-red-dark;
  }
  .color--not-checked {
    color: $gray-1;
  }
  .text--to--balance {
    color: $gray-4;
  }
}
