@import 'src/css/quasar.variables.scss';

.title {
  font-size: 16px;
  margin-bottom: 12px;
  display: flex;
}

.widget-container {
  display: flex;
  flex-direction: column;
}

.button {
  float: right;
}

.widget-content {
  display: flex;
  align-items: center;
  margin-top: auto;

  @media (max-width: 1240px) {
    flex-direction: column;
    margin-top: 0px;
  }

  @media (max-width: 992px) {
    flex-direction: row;
  }

  button {
    margin-left: auto;

    @media (max-width: $xl) {
      margin-top: 18px;
    }
  }

  span {
    margin-right: auto;

    @media (max-width: 992px) {
      margin-bottom: 0px;
    }
  }
}

.pillBox {
  font-size: 14px;
  padding: 2px 4px;
  margin-right: 5px;
  background: #D81F83;
  border-radius: 12px;
  color: white;
}