<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
    <meta name="robots" content="index, follow" />

    <!-- Open Graph Tags -->
    <meta
      property="og:title"
      content="Astar Portal - Astar & Shiden Network"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://portal.astar.network/images/card-img.jpg"
    />
    <meta
      property="og:description"
      content="Your one-stop platform for the Astar ecosystem - Wallet / Staking / Bridging"
    />
    <meta property="og:locale" content="en-US" />
    <meta property="og:site_name" content="Astar Portal - Astar & Shiden Network" />
    <meta property="og:url" content="https://portal.astar.network" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@AstarNetwork" />
    <meta
      name="twitter:title"
      content="Astar Portal - Astar & Shiden Network"
    />
    <meta
      name="twitter:description"
      content="Your one-stop platform for the Astar ecosystem - Wallet / Staking / Bridging"
    />
    <meta
      name="twitter:image"
      content="https://portal.astar.network/images/card-img.jpg"
    />
    <meta property="twitter:url" content="https://portal.astar.network" />
    <meta name="twitter:creator" content="@AstarNetwork" />

    <!-- Favicon -->
    <link rel="icon" href="favicon.png" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="favicon/safari-pinned-tab.svg"
      color="#1b6dc1"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= analyticsId %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', '<%= analyticsId %>');
    </script>
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
