.chains {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.chain {
  display: flex;
  align-items: center;
  column-gap: 14px;
  margin-top: 14px;
  width: 250px;
  padding: 8px 24px;
  transition: 0.2s;
  border-radius: 40px;
  font-weight: 600;
  @apply tw-text-lg tw-text-blue-900 dark:tw-text-darkGray-100 tw-bg-darkGray-400 dark:tw-bg-darkGray-700;
}

.chain:hover {
  cursor: pointer;
  @apply tw-bg-darkGray-300 dark:tw-bg-darkGray-600;
}

.chain-logo {
  height: 30px;
  width: 30px;
}

.row-token {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  align-items: center;
  margin-top: 14px;
  width: 350px;
  height: 50px;
  padding: 8px 24px;
  transition: 0.2s;
  border-radius: 40px;
  font-weight: 600;

  @apply tw-text-lg tw-text-blue-900 dark:tw-text-darkGray-100 tw-bg-darkGray-400 dark:tw-bg-darkGray-700;
}

.row-token:hover {
  cursor: pointer;
  @apply tw-bg-darkGray-300 dark:tw-bg-darkGray-600;
}

.token {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;
}
