@import 'src/css/quasar.variables.scss';

.wrapper--stake-manage {
  position: relative;
  display: flex;
  justify-content: center;
}

.container--stake-manage {
  display: grid;
  row-gap: 32px;
  margin-bottom: 24px;
  @media (min-width: $xl) {
    justify-content: center;
  }
}

.half-opacity {
  opacity: 0.4;
  transition: all 0.3s ease 0s;
}

.wrapper-containers {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  @media (min-width: $md) {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 0px;
  }
  @media (min-width: $lg) {
    flex-direction: row;
    column-gap: 40px;
  }
  @media (min-width: $xl) {
    column-gap: 50px;
  }
}
